<% if current_user.team.present? %>
  <div id="team-header" class="row bg-info">
    <div class="col-md-2 lead">
      <%= link_to(team_path(current_user.team)) do %>
        Team: <%= current_user.team.name %>
      <% end %>
  </div> 
  <div class="col-md-10">
    <% current_user.team.properties.each do |property| %>
      <div class="row">
        <div class="col-md-2">
          <h4><%= link_to(property.name, property_path(property)) %></h4>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-4">
              <%= link_to(search_leads_path({lead_search: {property_ids: [property.id]}})) do %>
                <h5>Leads</h5>
              <% end %>
              <%= link_to(new_lead_path(property_id: property.id)) do %>
                <span class="btn btn-xs btn-primary">Add</span>
              <% end %>
              <p>
                <span class="text-nowrap">
                  Mine: <%= link_to(search_leads_path({lead_search: {property_ids: [property.id], user_ids: [current_user.id]}})) do %><%= property.leads.for_agent(current_user).count %><% end %>
              </span> &bullet;
              <span class="text-nowrap">
                Open: <%= link_to(search_leads_path({lead_search: {property_ids: [property.id], states: ['open']}})) do %><%= property.leads.open.count %><% end %>
            </span> &bullet;
            <span class="text-nowrap">
              Active: <%= link_to(search_leads_path({lead_search: {property_ids: [property.id], states: ['open', 'claimed']}})) do %><%= property.leads.active.count %><% end %>
          </span> &bullet;
          <span class="text-nowrap">
            All: <%= link_to(search_leads_path({lead_search: {property_ids: [property.id]}})) do %><%= property.leads.count %><% end %>
        </span>
      </p>
    </div>
    <div class="col-md-4">
      <%= link_to(property_units_path(property)) do %>
        <h5>Units</h5>
      <% end %>
      <%= link_to(new_property_unit_path(property)) do %>
        <span class="btn btn-xs btn-primary">Add</span>
      <% end %>
      <p>
        <span class="text-nowrap">
          Total: <%= property.units %>
      </span> &bullet;
      <span class="text-nowrap">
        Occupied: <%= property.housing_units.occupied.count %>
      <small>(<%= property.occupancy_rate %>%)</small>
    </span>
  </p>
</div>
<div class="col-md-4">
  <%= link_to(property_residents_path(property)) do %>
    <h5>Residents</h5>
  <% end %>
  <%= link_to(new_property_resident_path(property)) do %>
    <span class="btn btn-xs btn-primary">Add</span>
  <% end %>
  <p>
    Total: <%= property.residents.current.count %>
</p>
      </div>
    </div>
  </div>
</div>
      <% end %>
    </div>
  </div>
<% end %>
