<div id="team_membership_<%= index %>" class="row team_membership_control">
  <div class="col-md-3">
    <%= hidden_field_tag "team[memberships_attributes][#{index}][id]", membership.id %>
    <%= hidden_field_tag "team[memberships_attributes][#{index}][team_id]", membership.team_id %>
    <% if membership.new_record? %>
      <%= select_tag "team[memberships_attributes][#{index}][user_id]", team_membership_user_select(membership&.user_id), {include_blank: true, class: 'form__control'} %>
    <% else %>
      <%= hidden_field_tag  "team[memberships_attributes][#{index}][user_id]", membership.user_id %>
      <h4><%= membership.user&.name %></h4>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= select_tag "team[memberships_attributes][#{index}][teamrole_id]", team_membership_teamrole_select(membership&.teamrole_id), {class: 'form__control'} %>
  </div>
  <div class="col-md-3">
    <div class="form__check" style="padding-top: 0.5em">
      <%= check_box_tag "team[memberships_attributes][#{index}][_destroy]", "1", false, {class: "form__check-input"} %>
      <%= label_tag "Remove", nil, class: "form__check-label" %>
    </div>
  </div>
</div>
