<section class="section">
<div class="row">
  <div class="col-md-6">
    <h1>Teams</h1>
  </div>
  <% if policy(Team).new? %>
  <div class="col-md-6 text-right">
    <%= link_to 'Create New Team', new_team_path, class: "btn btn--xs btn--primary" %>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table" data-clickable-rows="true">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Properties</th>
          <th>Members</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td class="first-column"><%= team.name %></td>
            <td><%= team.description %></td>
            <td>
              <% if team.properties.present? %>
                <ul>
                  <% team.properties.order(name: 'ASC').each do |property| %>
                    <li><%= link_to(property.name, property_path(property)) %></li>
                  <% end %>
                </ul>
              <% else %>
                <p>None</p>
              <% end %>
            </td>
            <td>
              <% if team.members.present? %>
                <ul>
                  <% team.members.sort_by(&:name).each do |member| %>
                    <li><%= link_to(member.name, user_path(member)) %> (<%= member.team_title %>)</li>
                  <% end %>
                </ul>
              <% else %>
                <p>None</p>
              <% end %>
            </td>
            <td class="actions">
              <%= link_to stats_manager_path(team_ids: [team.id]), class: "btn btn--icon btn--xs btn--ghost", title: "Stats" do %><%= glyph(:object_align_bottom) %><% end %>
              <%= link_to team, class: "btn btn--icon btn--xs btn--ghost", title: "View" do %><%= glyph(:show) %><% end if policy(team).show? %>
              <%= link_to edit_team_path(team), class: "btn btn--icon btn--xs btn--primary", title: "Edit" do %><%= glyph(:pencil) %><% end if policy(team).edit? %>
              <%= link_to team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn--icon btn--xs btn--danger", title: "Delete" do %><%= glyph(:delete) %><% end if policy(team).destroy? %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <% if policy(Team).new? %>
  <div class="col-md-12 text-right">
    <%= link_to 'Create New Team', new_team_path, class: "btn btn--xs btn--primary" %>
  </div>
  <% end %>
</div>
</section>