<%= form_with(model: lead_source, local: true) do |form| %>
  <% if lead_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead_source.errors.count, "error") %> prohibited this lead source from being saved:</h2>

      <ul>
        <% lead_source.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div>
    <fieldset>
      <legend>Lead Source Details</legend>

      <div class="row">
        <div class="col-md-8 form-group">
          <%= form.label :name, class: 'form-label' %>
          <%= form.text_field :name, id: :lead_source_name, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 form-group">
          <%= form.label 'Slug/Adapter', class: 'form-label' %>
          <%= form.select :slug, select_supported_parsers(@lead_source.slug),{}, {id: :lead_source_slug, class: "form-control"} %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 form-group">
          <div class="form-check-label">
            <%= form.check_box :active, id: :lead_source_active, class: "form-check-input" %>
            Active?
          </div>
        </div>
        <div class="col-xs-4 form-group">
          <div class="form-check">
            <%= form.check_box :incoming, id: :lead_source_incoming, class: "form-check__input" %>
            <%= form.label :incoming, 'Incoming?', class: 'form-check__label' %>
          </div>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn--primary">Save</button>
    <%= link_to('Cancel', :back, class: "btn btn--xs btn--info") %>
  </div>
<% end %>
