<%= form_with(model: message, local: true) do |form| %>
  <%= hidden_field_tag(:send_now) %>

  <% if message.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(message.errors.count, 'error') %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :message_type_id %>
  <%= form.hidden_field :messageable_id %>
  <%= form.hidden_field :messageable_type %>

  <% unless message.new_record? %>
    <%= form.hidden_field :recipientid %>
    <%= form.hidden_field :senderid %>
    <%= form.hidden_field :threadid %>
  <% end %>

  <% if message.new_record? || message.body_missing? %>
    <div class='row'>
      <div class='col-md-4 form__group'>
        <%= form.label :message_template_id, 'Template', class: 'form__label' %>
        <%= link_to('Load', '#' , { id: 'message_template_load_button', class: "btn btn--info btn--small", data: {baseurl: new_message_url(message_type_id: message.message_type_id, messageable_id: message.messageable_id, messageable_type: message.messageable_type, reply_to: @reply_to_id)} }) %>
        <%= link_to('View', message_template_path(id: message.message_template), {id: 'message_template_view_button', target: '_blank', class: "btn btn--info btn--small"}) if message.message_template.present? %>
        <% if any_message_templates_available?(message_type) %>
          <%= form.select :message_template_id, message_template_options(message_type, message.message_template_id),
          { include_blank: true}, { id: 'message_template_select', class: 'form__control' } %>
        <% else %>
          <p class="form__text">
            None available.
          </p>
        <% end %>
      </div>
      <div class='col-md-2'>
        <br/>
      </div>
    </div>
  <% end %>

  <% if edit_message_subject?(message) %>
    <div class='row'>
      <div class='col-md-12 form__group'>
        <%= form.label :subject, class: 'form__label' %>
        <%= form.text_field :subject, class: 'form__control' %>
      </div>
    </div>
  <% else %>
    <%= form.hidden_field :subject, value: '(No Subject)' %>
  <% end %>
  <div class='row'>
    <div class='col-md-12 form__group'>
      <%= form.label :body, class: 'form__label' %>
      <%= form.text_area :body, { rows: 10, id: (message.rich_editor? ? 'html_editor_v2' : 'plain_editor'), class: 'form__control' } %>
    </div>
  </div>

  <% if message.user&.use_signature? && !message.persisted? %>
  <p><b>NOTE:</b> Your <b>signature</b> will be added. (Preview to see full message)</p>
  <% end %>

  <div class='row'>
    <div class='col-md-6 form__group'>
      <button type='submit' class='btn btn--info'>Save Draft and Preview</button>
      <button id="send_now_button" type='submit' class='btn btn--primary'>Send Now</button>
      <%#= link_to "Back to #{@message.messageable_type.humanize}", url_for(@message.messageable), class: "btn btn--xs btn-info" if @message.messageable.present? %>
      <%= link_to 'Back', :back, class: "btn btn--info btn--small"  %>
    </div>
  </div>
<% end %>
<%= render partial: 'shared/editor_init' %>
