<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Messages
        <% if @messageable.present? %>
          for <%= @messageable.name %>
        <% end %>
      </h1>
    </div>
  </div>

  <% if @messageable.present? %>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: "new_message_callout", locals: {messageable: @messageable} %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <%= paginate @messages %>
    </div>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Lead</th>
          <th>Type</th>
          <th>From/To</th>
          <th>Subject</th>
          <th>Body</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr class="<%= message.read? ? '' : 'message_unread' %>">
            <td>
              <% if message.draft? %>
                <%= link_to("Send Now", "#", {class: "btn btn-sm btn-primary"}) %>
                <br/>
                <%= short_datetime(message.updated_at) %>
              <% else %>
                <%= short_datetime(message.delivered_at) %>
              <% end %>
            </td>
            <td>
              <% if message.messageable %>
                <%= link_to(message.messageable.name, url_for(message.messageable)) %>
              <% else %>
                <em>None</em>
              <% end %>
            </td>
            <td><%= message.message_type.name %></td>
            <td>
              <span class="text-nowrap">
                <span class="btn btn-xs btn-default">
                  <b>From:</b>
                  <%= truncate(message.sender_name, length: 20) %>
                </span>
              </span>
              <br/>
              <span class="text-nowrap">
                <span class="btn btn-xs btn-default">
                <b>To:</b>
                <%= truncate(message.recipient_name, length: 20) %>
                </span>
              </span>
            </td>
            <td><span class="text-nowrap"><%= message.subject %></span></td>
            <td>
              <%= truncate(message.body, length: Message::PREVIEW_LENGTH, omission: '... (continued)') %>
              <% if message.body.length > Message::PREVIEW_LENGTH %>
                <%= link_to('View', message_path(message), class: "btn btn-xs btn-primary") %>
              <% end %>
            </td>
            <td>
              <% unless message.read? %>
                <%= link_to('Mark Read', message_mark_read_path(message_id: message.id), method: :post, class: 'btn btn-xs btn-primary') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= paginate @messages %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% if @messageable.present? %>
        <%= link_to("Back", url_for(@messageable), class: "btn btn-xs btn-info") %>
      <% end %>
    </div>
  </div>
</div>
