<%= form_with(model: [lead, roommate ], local: true) do |form| %>
  <% if roommate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roommate.errors.count, "error") %> prohibited this Roommate from being saved:</h2>

      <ul>
        <% roommate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Personal</legend>
    <div class="row">
      <div class="col-md-6 form__group">
        <%= form.label :first_name, class: 'form__label' %>
        <%= form.text_field :first_name, {class: 'form__control', id: 'first_name_field'} %>
      </div>
      <div class="col-md-6 form__group">
        <%= form.label :last_name, class: 'form__label' %>
        <%= form.text_field :last_name, {class: 'form__control'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 form__group">
        <%= form.label :occupancy, class: 'form__label' %>
        <%= form.select :occupancy, roommate_occupancies_for_select(roommate.occupancy), {}, {class: 'form__control'} %>
      </div>
      <div class="col-md-3 form__group">
        <%= form.label :relationship, 'Relationship to Lead', class: 'form__label' %>
        <%= form.select :relationship, roommate_relationships_for_select(roommate.relationship), {}, {class: 'form__control'} %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Contact</legend>
    <div class="row">
      <div class="col-md-6 form__group">
        <%= form.label :phone, class: 'form__label' %>
        <%= form.phone_field :phone, {class: 'form__control'} %>
        <div class="form__check">
          <%= form.check_box :sms_allowed, class: 'form__check-input' %>
          <%= form.label :sms_allowed, 'SMS/Text permitted', class: 'form__check-label' %>
        </div>
      </div>
      <div class="col-md-6 form__group">
        <%= form.label :email, class: 'form__label' %>
        <%= form.phone_field :email, {class: 'form__control'} %>
        <div class="form__check">
          <%= form.check_box :email_allowed, class: 'form__check-input' %>
          <%= form.label :email_allowed, 'Email permitted', class: 'form__check-label' %>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-md-12 form__group">
      <%= form.label :notes, class: 'form__label' %>
      <%= form.text_area :notes, {rows: 4, class: 'form__control'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form__group">
      <br/>
      <button type="submit" class="btn btn--primary">Save</button>
      <%= link_to('Cancel', :back, class: "btn btn--small btn--info") %>
    </div>
  </div>
<% end %>

<script>
  $(document).on('turbolinks:load', function(){  $('#first_name_field').focus();})
</script>
