<%= form_with(model: note, remote: true, format: :js) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :notable_id, id: :note_notable_id %>
  <%= form.hidden_field :notable_type, id: :note_notable_type %>

  <div class="fieldset_content">
    <div class="row">
      <div class="form-group col-md-8">
        <%= form.label :content, "New Comment" %>
        <%= form.text_area :content, id: :note_content, class: "form-control", rows: 5%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <%= form.label :lead_action_id, "Action" %>
        <%= form.select :lead_action_id, select_lead_comment_action(note.notable, note.lead_action_id), {include_blank: true},{id: :note_action, class: "form-control"} %>
      </div>
      <div class="col-md-4 form-group">
        <%= form.label :reason_id, "Reason" %>
        <%= form.select :reason_id, select_reason(note.reason_id),{include_blank: true},{id: :note_reason, class: "form-control"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p>
          <span class="btn btn-sm btn-info toggle_note_schedule">Schedule</span>
        </p>
      </div>
      <div class="col-md-6">
        <div class="note_schedule_selection" style="display: none;">
          <%= form.label :schedule %>
          <%= form.schedule_select :schedule, style: :bootstrap, until: true, input_types: {date: :date_picker, time: :time_picker, datetime: :datetime_picker} %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="#" id="lead_comment_form_cancel" class="btn btn-xs btn-info">Cancel</a>
    </div>
  </div>
<% end %>
