<% unless note.new_record? %>
  <div class="row note-listing-record note-<%= cycle(['odd', 'even'])%>" id="note_<%= note.id %>">
    <div class="col-md-9">

      <div class="row dashboard_item_date">
        <div class="col-md-6">
          <%= long_datetime(note.created_at) %>
          <% if note.user.present? %>
            by <%= note.user&.name || 'None' %>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= action_and_reason(note) %>
        </div>
      </div>

      <div class="row note-listing-content">
        <div class="col-md-12">
          <%= note.content %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <%= link_to edit_note_path(note) do %><%= glyph(:edit) %><% end if policy(note).edit? %>
      <%= link_to note, method: :delete, data: { confirm: 'Are you sure?' } do %><%= glyph(:delete) %><% end if policy(note).destroy? %>
    </div>

  </div>
<% end %>
