<% unless note.new_record? %>
  <div class="row" id="note_<%= note.id %>">
  <div class="col-md-12">

    <div class="fieldset_content">
      <div class="row">
        <div class="col-md-6">
          <strong>Created:</strong>
          <%= note.created_at %>
        </div>
        <div class="col-md-6">
          <strong>Author:</strong>
          <%= note.user.try(:name) || 'None' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <strong>Lead Action:</strong>
          <%= note.lead_action.try(:name) || 'None' %>: <%= note.schedule %>
        </div>
        <div class="col-md-6">
          <strong>Reason:</strong>
          <%= note.reason.try(:name) || 'None' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <strong>Content:</strong>
          <%= note.content || 'None'%>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 col-md-offset-11">
          <%= link_to(note, { method: :delete, remote: true, confirm: 'Are you sure?' } ) do %><%= glyph(:delete) %><% end %>
        </div>
      </div>

    </div>
  </div>

</div>
<% end %>
