<% unless note.new_record? %>
  <div class="row" id="note_<%= note.id %>">
  <div class="col-md-12">

    <div class="fieldset_content">
      <div class="row">
        <div class="col-md-6">
          <strong>Created:</strong>
          <%= long_datetime(note.created_at) %>
        </div>
        <div class="col-md-6">
          <strong>Author:</strong>
          <%= note.user.try(:name) || 'None' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <strong>Action:</strong>
          <%= note.lead_action.try(:name) || 'None' %>
          <% if note.schedule.present? %>
            <%= note.schedule.try(:short_datetime) %>
          <% end %>
        </div>
        <div class="col-md-6">
          <strong>Reason:</strong>
          <%= note.reason.try(:name) || 'None' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <p class="lead" style="margin-left: 1em;">
            <%= note.content || 'None'%>
          </p>
        </div>
      </div>

      <% if policy(note).edit? %>
        <div class="row">
          <div class="col-md-1 col-md-offset-11">
            <%= link_to edit_note_path(note) do %><%= glyph(:edit) %><% end if policy(note).edit? %>
            <%= link_to note, method: :delete, data: { confirm: 'Are you sure?' } do %><%= glyph(:delete) %><% end if policy(note).destroy? %>
          </div>
        </div>
      <% end %>

    </div>
  </div>

</div>
<% end %>
