<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="row">
      <div class="col-md-12">
        <b>Article Slug:</b> <%= @article.slug %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 form-group">
        <%= form.label :articletype, 'Type' %>
        <%= form.select :articletype, select_articletype(@article), {}, class: "form-control" %>
      </div>
      <div class="col-md-2 form-group">
        <%= form.label :audience, 'Audience Role' %>
        <%= form.select :audience, select_article_audience(@article), {}, class: "form-control" %>
      </div>
      <div class="col-md-4 form-group">
        <%= form.label :category %>
        <%= form.select :category, select_article_category(@article.category), {}, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 form-group">
        <%= form.label :contextid, 'Context' %>
        <%= form.select :contextid, select_article_contextid(@article.contextid), {}, class: "form-control selectize-nocreate" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-group">
        <%= form.label :body %>
        <%= form.text_area :body, { rows: 40, id: 'html_editor' , class: 'form-control' } %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 form-group">
        <br/>
        <%= form.check_box :published, class: 'form-check-input' %>
        <%= form.label 'Published', class: 'form-check-label' %>
      </div>
    </div>

  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
    <%= link_to 'Back', articles_path, class: 'btn btn-xs btn-info' %>
  </div>
<% end %>
