<% if collection.any? %>
  <h2><%= collection.first.articletype.humanize %></h2>
  <div class="table-responsive">
    <table class="table" data-clickable-rows="true">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Created</th>
        <th>Published?</th>
        <th>Audience</th>
        <th>Article Type</th>
        <th>Category</th>
        <th>Context</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |article| %>
      <tr>
        <td><%= link_to(article.title, article_path(article)) %></td>
        <td><%= article.user&.name || 'None' %></td>
        <td class="text-nowrap"><%= long_date article.created_at %></td>
        <td><%= article.published ? 'Yes' : 'Draft' %> </td>
        <td><%= article.audience.humanize %></td>
        <td><%= article.articletype.humanize %></td>
        <td><%= article.category.humanize %></td>
        <td><%= article.contextid %></td>
        <td class="actions">
          <%= model_link_with_tooltip(article, :show) %>
          <%= model_link_with_tooltip(article, :edit) %>
          <%= model_link_with_tooltip(article, :destroy) %>
        </td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
<% end %>
