<section class="section">
<div class="row">
  <div class="col-md-6">
    <h1>Message Templates</h1>
  </div>
  <% if policy(MessageTemplate).new? %>
    <div class="col-md-6 text-right">
      <%= link_to('Create a Message Template', new_message_template_path, class: "btn btn--small btn--primary" ) %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @message_templates.empty? %>
      <p class="lead">None</p>
    <% else %>
      <div class="table-responsive">
        <table class="table" data-clickable-rows="true">
          <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Owner</th>
              <th>Visibility</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
        <tbody>
          <% @message_templates.each do |message_template| %>
            <tr>
              <td><%= message_template.message_type.name %></td>
              <td><%= message_template.name %></td>
              <td><%= message_template.user&.name || 'System' %></td>
              <td><%= message_template.shared? ? 'Shared' : 'Private' %></td>
              <td class="actions">
                <%= model_link_with_tooltip(message_template, :show) %>
                <%= model_link_with_tooltip(message_template, :edit) %>
                <%= model_link_with_tooltip(message_template, :duplicate) %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
</section>
