<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Resend unlock instructions</h2>
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <div class="row">
          <div class="col-md-12">
            <%= devise_error_messages! %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <%= f.label :email %>
            <%= f.email_field :email, {class: "form-control", autofocus: true } %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <button type="submit" class="btn btn-primary">Resend Unlock Instructions</button>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
