<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <fieldset>
        <legend>Login Information</legend>

        <% if user.deactivated? %>
          <div class="row">
            <div class="col-md-12">
              <p class="lead bg-danger"> Deactivated </p>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-8 form-group">
            <%= form.label :email %>
            <%= form.text_field :email, class: "form-control" %>
            <% unless user.new_record? %>
              <small class="bg-info">
                ( Note that changes here are only applied after email confirmation )
              </small>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <%= form.label :timezone %>
            <%= form.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, { default: "Pacific Time (US & Canada)" }, {class: "form-control"} %>
          </div>
        </div>
        <% unless user.new_record? %>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= form.label :password %>
              <%= form.password_field :password, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= form.label :password_confirmation %>
              <%= form.password_field :password_confirmation, class: "form-control" %>
            </div>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>

  <%= form.fields_for :profile do |profile_form| %>
  <div class="row">
    <div class="col-md-12">
      <fieldset>
        <legend>Profile</legend>
          <div class="row">
            <div class="col-md-2 form-group">
              <%= profile_form.label "Prefix" %>
              <%= profile_form.text_field :name_prefix, {class: "form-control"} %>
            </div>
            <div class="col-md-4 form-group">
              <%= profile_form.label "First Name" %>
              <%= profile_form.text_field :first_name, {class: "form-control"} %>
            </div>
            <div class="col-md-4 form-group">
              <%= profile_form.label "Last Name" %>
              <%= profile_form.text_field :last_name, {class: "form-control"} %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 form-group">
              <%= profile_form.label :office_phone %>
              <%= profile_form.text_field :office_phone, {type: "tel", class: "form-control" } %>
            </div>
            <div class="col-md-3 form-group">
              <%= profile_form.label :cell_phone %>
              <%= profile_form.text_field :cell_phone, {type: "tel", class: "form-control" } %>
            </div>
            <div class="col-md-3 form-group">
              <%= profile_form.label :fax %>
              <%= profile_form.text_field :fax, {type: "tel", class: "form-control" } %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <%= profile_form.label :notes %>
              <%= profile_form.text_area :notes, {class: "form-control"} %>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <%= profile_form.label :photo %><br/>
                <% if user.profile.photo.attached? %>
                    <%= image_tag(user.profile.photo.variant(resize: "200x200"), alt: "#{@user.name || 'User'} photo" )%>
                    <br/>
                    <span>
                      <%= profile_form.label :remove_photo, 'Remove', class: 'form-check-label' %>
                      <%= profile_form.check_box :remove_photo, class: 'checkbox-inline' %>
                    </span>
                <% end %>
                <%= profile_form.file_field :photo, class: 'form-control' %>
              </div>
            <div class="col-md-6 form-group">
            </div>
          </div>
      </fieldset>
    </div>
  </div>
  <% end %>

  <% if @creator.assign_to_role? %>
    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <legend>Role and Access</legend>
          <div class="row">
            <div class="col-md-4">
              <%= form.check_box :deactivated, class: 'form-check-input' %>
              <%= form.label(:deactivated, 'Deactivated?') %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 form-group">
              <%= form.label :role_id, "System Role" %>
              <%= form.select :role_id, options_for_select(@creator.roles_for_select, selected: @user.role_id),{include_blank: true}, {class: "form-control" } %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  <% end %>

  <% if @user.new_record? %>
  <div class="row">
    <div class="col-md-12">
      <fieldset>
        <legend>Property Assignment</legend>
        <div class="row">
          <div class="col-md-6 form-group">
            <%= user_creator_form_group(:property_id) do %>
              <%= label_tag(:property_id, 'Property') %>
            <% end %>
            <%= user_creator_form_group(:property_id) do %>
              <%= select_tag(:property_id, options_for_select(@creator.properties_for_select, selected: @creator.property&.id || @creator.property&.id), { include_blank: true, class: "form-control" }) %>
            <% end %>
          </div>
          <div class="col-md-6 form-group">
            <%= user_creator_form_group(:property_role) do %>
              <%= label_tag(:property_role, 'Property Role') %>
            <% end %>
            <%= user_creator_form_group(:property_role) do %>
              <%= select_tag(:property_role, options_for_select(@creator.property_roles_for_select, selected: @creator.property_role), {include_blank: true, class: "form-control" }) %>
            <% end %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-md-12">
      <fieldset>
        <legend>Property Assignments</legend>
        <%= render partial: "property_assignments", locals: {user: @user} %>
      </fieldset>
    </div>
  </div>
  <% end %>

  <% if @user.new_record? %>
    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <legend>Team Assignment</legend>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= user_creator_form_group(:team_id) do %>
                <%= label_tag(:team_id, "Team") %>
              <% end %>
              <%= user_creator_form_group(:team_id) do %>
                <%= select_tag(:team_id, options_for_select(@creator.teams_for_select, selected: @creator.team&.id), {include_blank: true, class: "form-control" }) %>
              <% end %>
            </div>
            <div class="col-md-6 form-group">
              <%= user_creator_form_group(:teamrole_id) do %>
                <%= label_tag(:teamrole_id, "Team Role") %>
              <% end %>
              <%= user_creator_form_group(:teamrole_id) do %>
                <%= select_tag(:teamrole_id, options_for_select(@creator.teamroles_for_select, selected: @creator.teamrole), {include_blank: true, class: "form-control" }) %>
              <% end %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

  <% end %>

  <%= fields_for 'user[profile_attributes][appsettings]', OpenStruct.new(@user.profile&.appsettings) do |appsettings| %>
    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <legend>Bluesky Application Settings</legend>
          <div class="form-row">
            <% UserProfile.managed_settings.each do |setting| %>
              <div class="col-md-3 form-group form-check">
                <%= appsettings.check_box setting, class: 'form-check-input' %>
                <%= appsettings.label setting, class: 'form-check-label' %>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>
    </div>
  <% end %>

  <% if policy(@user).manage_features? %>
    <%= fields_for 'user[profile_attributes][enabled_features]', OpenStruct.new(@user.profile&.enabled_features) do |enabled_features| %>
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Bluesky Application Features</legend>
            <div class="form-row">
              <% UserProfile.managed_features.each do |feature| %>
                <div class="col-md-3 form-group form-check">
                  <%= enabled_features.check_box feature, class: 'form-check-input' %>
                  <%= enabled_features.label feature, class: 'form-check-label' %>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
    <%= link_to 'Back', ( policy(User).index? ? users_path : :back ), class: "btn btn-xs btn-info" %>
  </div>
<% end %>

<%= render partial: 'shared/editor_init' %>
