<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @user.name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Role:</strong>
        <%= @user.role.try(:name) || 'None' %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Team Role:</strong>
        <%= @user.teamrole.try(:name) || 'None' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Time Zone:</strong>
        <%= @user.timezone || 'None' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <p>
        <strong>Prefix</strong>
        <%= @user.name_prefix %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>First Name</strong>
        <%= @user.first_name %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Last Name</strong>
        <%= @user.last_name %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Office Phone</strong>
        <%= @user.office_phone %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Cell Phone</strong>
        <%= @user.cell_phone %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Fax Phone</strong>
        <%= @user.fax %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>
        <strong>Notes</strong>
        <%= @user.notes %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Created At:</strong>
        <%= @user.created_at %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Updated At:</strong>
        <%= @user.updated_at %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Last Sign In:</strong>
        <%= @user.last_sign_in_at %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Last Sign In IP:</strong>
        <%= @user.last_sign_in_ip %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Locked:</strong>
        <%= @user.locked_at ? @user.locked_at : 'No' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Properties</h3>
      <% if @user.properties.empty? %>
        <p>
          None
        </p>
      <% end %>
      <ul>
        <% @user.properties.each do |property| %>
          <li><%= link_to(property.name, property_path(property)) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </div>
  </div>
</div>



