<%= form_with(model: lead_action, local: true) do |form| %>
  <% if lead_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead_action.errors.count, "error") %> prohibited this lead_action from being saved:</h2>

      <ul>
      <% lead_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="row">
      <div class="col-md-4 form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :lead_action_name, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        <%= form.label :glyph %>
        <%= form.select :glyph, select_glyph(@lead_action.glyph),{include_blank: true}, { id: :lead_action_glyph, class: "form-control" } %>
      </div>
      <div class="col-md-8">
        <%= render partial: "glyph_samples" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 form-group">
        <%= form.label :description %>
        <%= form.text_field :description, id: :lead_action_description, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 form-group">
        <%= form.label :state_affinity %>
        <%= form.select :state_affinity,
          select_lead_action_state_affinity(@lead_action.state_affinity), {},
          class: "form-control"
        %>
      </div>
    </div>

    <div class="form-check-label">
      <%= form.check_box :notify, class: 'form-check-input' %>
      Issue Notification to Lead?
    </div>

    <div class="form-check-label">
      <%= form.check_box :is_contact, class: 'form-check-input' %>
      Lead Action is a Lead Contact event?
    </div>

    <div class="form-check-label">
      <%= form.check_box :active, class: 'form-check-input' %>
      Lead Action is active?
    </div>

    <div class="form-check-label">
      <%= form.check_box :is_system, class: 'form-check-input' %>
      Lead Action is a System Action?
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
<% end %>
