<fieldset>
  <legend>
    Office Hours
    <a href="#property_working_hours" data-toggle="collapse" aria-expanded="false" aria-controls="property_working_hours" class="btn btn-xs btn-info">
      More...
    </a>
  </legend>
  <div class="collapse" id="property_working_hours">
    <div class="row">
      <div class="col-md-6 form-group">
        <%= form.label :timezone %>
        <%= form.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, { default: "Central Time (US & Canada)" }, {class: "form-control"} %>
      </div>
    </div>

    <% unless property.working_hours_valid? %>
      <div class="row">
        <div class="col-md-12">
          <p class="lead bg-danger">
            There is a problem with the Office Hours information:<br/>
            <small> <%= property.working_hours_error %> </small>
          </p>
        </div>
      </div>
    <% end %>

    <% working_hours = property.working_hours_or_defaults %>
    <% %w[monday tuesday wednesday thursday friday saturday sunday].each_with_index do |dow, index| %>
      <div class="row">
        <div class="col-xs-3 form-group">
          <div class="row office_hours_day">
            <div class="col-md-12">
              <span><%= dow.capitalize %></span><br/>
              <small>
                <label>Closed mornings</label>
                <input type="checkbox" id="working_hours_toggle_morning_closed_<%= dow %>"
                  class="working_hours_toggle_morning_closed" data-weekday="<%= dow %>"
                  <%= property.closed_on_mornings?(dow) ? 'checked="checked"' : '' %> />
              </small>
              <br/>
              <small>
                <label>Closed afternoons</label>
                <input type="checkbox" id="working_hours_toggle_afternoon_closed_<%= dow %>"
                  class="working_hours_toggle_afternoon_closed" data-weekday="<%= dow %>"
                  <%= property.closed_on_afternoons?(dow) ? 'checked="checked"' : '' %> />
              </small>
            </div>
          </div>
        </div>
        <div class="col-xs-9 form-group working_hours_<%= dow %>">
          <div class="row office_hours_block working_hours_<%= dow %>_morning <%= property.closed_on_mornings?(dow) ? 'hidden' : '' %>">
            <div class="col-xs-6 col-md-4">
              Morning (Open)
              <select name="property[working_hours][<%= dow %>][morning][open]" class="form-control working_hours_input">
                <%= morning_hours_options(working_hours[dow]['morning']['open']) %>
              </select>
            </div>
            <div class="col-xs-6 col-md-4">
              Morning (Close)
              <select name="property[working_hours][<%= dow %>][morning][close]" class="form-control working_hours_input">
                <%= morning_hours_options(working_hours[dow]['morning']['close']) %>
              </select>
            </div>
          </div>
          <div class="row office_hours_block working_hours_<%= dow %>_afternoon <%= property.closed_on_afternoons?(dow) ? 'hidden' : '' %>">
            <div class="col-xs-6 col-md-4">
              Afternoon (Open)
              <select name="property[working_hours][<%= dow %>][afternoon][open]" class="form-control working_hours_input">
                <%= afternoon_hours_options(working_hours[dow]['afternoon']['open']) %>
              </select>
            </div>
            <div class="col-xs-6 col-md-4">
              Afternoon (Close)
              <select name="property[working_hours][<%= dow %>][afternoon][close]" class="form-control working_hours_input">
                <%= afternoon_hours_options(working_hours[dow]['afternoon']['close']) %>
              </select>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</fieldset>
