<%= form_with(model: property, local: true, html: { multipart: true }) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'form_general', locals: {form: form, property: property} %>
  <%= render partial: 'form_office_hours', locals: {form: form, property: property} %>
  <%= render partial: 'form_contact', locals: {form: form, property: property} %>
  <%#= render partial: 'form_marketing_numbers', locals: {form: form, property: property} %>
  <%= render partial: 'form_other', locals: {form: form, property: property} %>
  <%= render partial: 'form_listings', locals: {form: form, property: property} %>
  <%= render partial: 'form_employees', locals: {form: form, property: property} %>
  <%= render partial: 'form_preferences', locals: {form: form, property: property} %>


  <div class="row">
    <div class="col-md-12 form__group">
      <br/>
      <button type="submit" class="btn btn--primary">Save</button>
      <%= link_to('Cancel', :back, class: "btn btn--xs btn--info") %>
    </div>
  </div>
<% end %>
