<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldset_content">
    <fieldset>
      <legend>Property Information</legend>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :property_name, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= form.label :organization %>
        <%= form.text_field :organization, id: :property_organization, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :contact_name %>
        <%= form.text_field :contact_name, id: :property_contact_name, class: "form-control" %>
      </div>


      <div class="form-group">
        <%= form.label :address1 %>
        <%= form.text_field :address1, id: :property_address1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :address2 %>
        <%= form.text_field :address2, id: :property_address2, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :address3 %>
        <%= form.text_field :address3, id: :property_address3, class: "form-control" %>
      </div>

      <div class="row">
        <div class="col-md-4 form-group">
          <%= form.label :city %>
          <%= form.text_field :city, id: :property_city, class: "form-control" %>
        </div>

        <div class="col-md-2 form-group">
          <%= form.label :state %>
          <%= form.text_field :state, id: :property_state, class: "form-control" %>
        </div>

        <div class="col-md-2 form-group">
          <%= form.label :zip %>
          <%= form.text_field :zip, id: :property_zip, class: "form-control" %>
        </div>

        <div class="col-md-2 form-group">
          <%= form.label :country %>
          <%= form.text_field :country, id: :property_country, class: "form-control" %>
        </div>

      </div>

      <div class="row">
        <div class="col-md-3 form-group">
          <%= form.label :phone %>
          <%= form.text_field :phone, id: :property_phone, class: "form-control", type: :phone %>
        </div>

        <div class="col-md-3 form-group">
          <%= form.label :fax %>
          <%= form.text_field :fax, id: :property_fax, class: "form-control", type: :phone %>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 form-group">
          <%= form.label :email %>
          <%= form.text_field :email, id: :property_email, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 form-group">
          <%= form.label :units %>
          <%= form.number_field :units, id: :property_units, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :notes %>
        <%= form.text_area :notes, id: :property_notes, class: "form-control" %>
      </div>

    </fieldset>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
