<fieldset>
  <legend>
    Office Hours
    <a href="#property_working_hours" data-toggle="collapse" aria-expanded="false" aria-controls="property_working_hours" class="btn btn-xs btn-info">
      More...
    </a>
  </legend>
  <div class="collapse" id="property_working_hours">
    <% working_hours = OpenStruct.new(property.working_hours || Property::DEFAULT_WORKING_HOURS) %>
    <% %w[sunday monday tuesday wednesday thursday friday saturday].each_with_index do |dow, index| %>
      <div class="row">
        <div class="col-xs-2 form-group">
          <div class="row office_hours_day">
            <div class="col-xs-2">
              <span> <%= dow.capitalize %> </span>
            </div>
          </div>
        </div>
        <div class="col-xs-10 form-group">
          <div class="row office_hours_block">
            <div class="col-xs-6 col-md-4">
              Morning (Open)
              <select name="property[working_hours][<%= dow %>][morning][open]" class="form-control">
                <%= morning_hours_options(working_hours[dow]['morning']['open']) %>
              </select>
            </div>
            <div class="col-xs-6 col-md-4">
              Morning (Close)
              <select name="property[working_hours][<%= dow %>][morning][close]" class="form-control">
                <%= morning_hours_options(working_hours[dow]['morning']['close']) %>
              </select>
            </div>
          </div>
          <div class="row office_hours_block">
            <div class="col-xs-6 col-md-4">
              Afternoon (Open)
              <select name="property[working_hours][<%= dow %>][afternoon][open]" class="form-control">
                <%= afternoon_hours_options(working_hours[dow]['afternoon']['open']) %>
              </select>
            </div>
            <div class="col-xs-6 col-md-4">
              Afternoon (Close)
              <select name="property[working_hours][<%= dow %>][afternoon][close]" class="form-control">
                <%= afternoon_hours_options(working_hours[dow]['afternoon']['close']) %>
              </select>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</fieldset>
