<fieldset class="fieldset">
  <legend class="fieldset__legend">
    Office Hours
    <a href="#property_working_hours" data-toggle="collapse" aria-expanded="false" aria-controls="property_working_hours" class="btn btn--extra-small btn--info">
      More...
    </a>
  </legend>
  <div class="collapse" id="property_working_hours">
    <div class="row">
      <div class="col-md-6 form__group">
        <%= form.label :timezone, class: 'form__label' %>
        <%= form.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, { default: "Central Time (US & Canada)" }, {class: "form__control"} %>
      </div>
    </div>

    <% unless property.working_hours_valid? %>
      <div class="row">
        <div class="col-md-12">
          <p class="lead bg-danger">
            There is a problem with the Office Hours information:<br/>
            <small> <%= property.working_hours_error %> </small>
          </p>
         </div>
      </div>
    <% end %>

    <% working_hours = property.working_hours_or_defaults %>
    <% %w[monday tuesday wednesday thursday friday saturday sunday].each_with_index do |dow, index| %>
      <div class="row">
        <div class="col-xs-3 form__group">
          <div class="row office-hours__day">
            <div class="col-md-12">
              <span><%= dow.capitalize %></span><br/>
              <small>
                <label>Closed mornings</label>
                <input type="checkbox" id="working-hours-toggle--morning-closed-<%= dow %>"
                  class="working-hours-toggle working-hours-toggle--morning-closed" data-weekday="<%= dow %>"
                  <%= property.closed_on_mornings?(dow) ? 'checked="checked"' : '' %> />
              </small>
              <br/>
              <small>
                <label>Closed afternoons</label>
                <input type="checkbox" id="working-hours-toggle--afternoon-closed-<%= dow %>"
                  class="working-hours-toggle working-hours-toggle--afternoon-closed" data-weekday="<%= dow %>"
                  <%= property.closed_on_afternoons?(dow) ? 'checked="checked"' : '' %> />
              </small>
            </div>
          </div>
        </div>
        <div class="col-xs-9 form__group working-hours working-hours--<%= dow %>">
          <div class="row office-hours__block working-hours__<%= dow %>--morning <%= property.closed_on_mornings?(dow) ? 'hidden' : '' %>">
            <div class="col-xs-6 col-md-4">
              Morning (Open)
              <select name="property[working_hours][<%= dow %>][morning][open]" class="form__control working-hours__input">
                <%= morning_hours_options(working_hours[dow]['morning']['open']) %>
              </select>
            </div>
            <div class="col-xs-6 col-md-4">
              Morning (Close)
              <select name="property[working_hours][<%= dow %>][morning][close]" class="form__control working-hours__input">
                <%= morning_hours_options(working_hours[dow]['morning']['close']) %>
              </select>
            </div>
          </div>
          <div class="row office-hours__block working-hours__<%= dow %>--afternoon <%= property.closed_on_afternoons?(dow) ? 'hidden' : '' %>">
            <div class="col-xs-6 col-md-4">
              Afternoon (Open)
              <select name="property[working_hours][<%= dow %>][afternoon][open]" class="form__control working-hours__input">
                <%= afternoon_hours_options(working_hours[dow]['afternoon']['open']) %>
              </select>
            </div>
            <div class="col-xs-6 col-md-4">
              Afternoon (Close)
              <select name="property[working_hours][<%= dow %>][afternoon][close]" class="form__control working-hours__input">
                <%= afternoon_hours_options(working_hours[dow]['afternoon']['close']) %>
              </select>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</fieldset>
