<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :property_name, class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= form.label :logo %>
          <% if property.logo.attached? %>
            <div style="padding: 10px 5px;">
              <%= image_tag(property.logo.variant(resize: "100x100"), alt: "#{@property.name} logo" )%>
              <%= form.label :remove_logo, class: "checkbox-inline" %>
              <%= form.check_box :remove_logo %>
            </div>
          <% end %>
          <%= form.file_field :logo %>
        </div>

        <div class="form-group">
          <%= form.label :organization %>
          <%= form.text_field :organization, id: :property_organization, class: "form-control" %>
        </div>

        <div class="row">
          <div class="col-md-4 form-group">
            <%= form.label :units %>
            <%= form.number_field :units, id: :property_units, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= form.label :notes %>
          <%= form.text_area :notes, id: :property_notes, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :team %>
          <%= form.select :team_id, select_team(@property.team_id), {include_blank: true}, { id: :property_team_id, class: "form-control" } %>
        </div>

        <div class="form-group">
          <div class="form-check-label">
            <%= form.check_box :active, class: 'form-check-input' %>
            Property is Active?
          </div>
        </div>
      </div>

    </div>

    <fieldset>
      <legend>Contact Information</legend>
      <div class="row">
        <div class="col-md-8">

          <div class="form-group">
            <%= form.label :contact_name %>
            <%= form.text_field :contact_name, id: :property_contact_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :address1 %>
            <%= form.text_field :address1, id: :property_address1, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :address2 %>
            <%= form.text_field :address2, id: :property_address2, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :address3 %>
            <%= form.text_field :address3, id: :property_address3, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 form-group">
          <%= form.label :city %>
          <%= form.text_field :city, id: :property_city, class: "form-control" %>
        </div>

        <div class="col-md-2 form-group">
          <%= form.label :state %>
          <%= form.select :state, select_state(property.state), {include_blank: true}, { id: :property_state, class: "form-control" } %>
        </div>

        <div class="col-md-2 form-group">
          <%= form.label :zip %>
          <%= form.text_field :zip, id: :property_zip, class: "form-control" %>
        </div>

        <div class="col-md-2 form-group">
          <%= form.label :country %>
          <%= form.text_field :country, id: :property_country, class: "form-control" %>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label :phone %>
          <%= form.text_field :phone, id: :property_phone, class: "form-control", type: :phone %>
        </div>

        <div class="col-md-6 form-group">
          <%= form.label :fax %>
          <%= form.text_field :fax, id: :property_fax, class: "form-control", type: :phone %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label :website %>
          <%= form.text_field :website, id: :property_website, class: "form-control" %>
        </div>

        <div class="col-md-6 form-group">
          <%= form.label :application_url, 'Rental Application URL' %>
          <%= form.text_field :application_url, id: :property_application_url, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label :email %>
          <%= form.text_field :email, id: :property_email, class: "form-control" %>
        </div>
      </div>


    </fieldset>

    <fieldset>
      <legend>Marketing Phone Numbers</legend>
      <div class="row">
        <div class="col-md-4">
          <%= form.add_nested_fields_link :phone_numbers, 'Add Number',
            class: 'btn btn-sm btn-primary', role: 'button',
            data: { insert_into: 'property_phone_numbers' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="property_phone_numbers">
          <%= form.nested_fields_for :phone_numbers, wrapper_options: { class: 'property_phone_number_entry' } do |phone_form| %>
            <%= phone_form.hidden_field :id %>
            <%= phone_form.hidden_field :category, value: 'work' %>
            <div class="col-md-3">
              <%= phone_form.label :name %>
              <%= phone_form.text_field :name, class: "form-control" %>
            </div>
            <div class="col-md-1">
              <%= phone_form.label :prefix %>
              <%= phone_form.number_field :prefix, class: "form-control" %>
            </div>
            <div class="col-md-2">
              <%= phone_form.label :number %>
              <%= phone_form.telephone_field :number, class: "form-control" %>
            </div>
            <div class="col-md-2" style="padding-top: 2em;">
              <%= phone_form.check_box :_destroy %>
              <%= phone_form.label :_destroy, 'Remove' %>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Other Information</legend>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label :school_district %>
          <%= form.text_field :school_district, id: :property_school_district, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 form-group">
          <%= form.label :amenities %>
          <%= form.text_area :amenities, id: :property_amenities, class: "form-control" %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Listing IDs/Codes</legend>
      <%= render partial: 'property_listing_form', locals: {form: form} %>
    </fieldset>

    <fieldset>
      <legend>Employees</legend>
      <div class="row">
        <div class="col-md-4">
          <%= form.add_nested_fields_link :property_users, 'Add Employee',
            class: 'btn btn-sm btn-primary', role: 'button',
            data: { insert_into: 'property_users'} %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="property_users">
          <%= form.nested_fields_for :property_users, wrapper_options: {class: 'property_phone_number_entry'} do |agent_form| %>
            <div class="row">
              <div class="col-md-3">
                <%= agent_form.label :user_id, "User" %>
                <% if agent_form.object.user_id.present? %>
                  <br/>
                  <span class="lead"><%= agent_form.object.user.name %></span>
                  <%= agent_form.hidden_field :user_id, value: agent_form.object.user_id %>
                <% else %>
                  <%= agent_form.select :user_id,
                    select_property_user(property: property, selected: agent_form.object.user_id),
                    {include_blank: true}, class: "form-control" %>
                <% end %>
              </div>
              <div class="col-md-3">
                <%= agent_form.label :role %>
                <%= agent_form.select :role, select_user_role(agent_form.object.role), {}, class: "form-control" %>
              </div>
              <div class="col-md-2" style="padding-top: 2em">
                <%= agent_form.check_box :_destroy %>
                <%= agent_form.label :_destroy, 'Remove' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>


    <div class="row">
      <div class="col-md-12 form-group">
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
        <%= link_to('Cancel', :back, class: 'btn btn-xs btn-info') %>
      </div>
    </div>
<% end %>
