<div class="row" >
  <h2><%= @property.name %></h2>
  <% if @property.logo.attached? %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to(url_for(@property.logo), target: "_blank") do %>
          <%= image_tag(@property.logo.variant(resize: "200x200"), alt: "#{@property.name} logo" ) if @property.logo.attached? %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Active:</strong>
        <%= @property.active %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Team:</strong>
        <%= @property.team.try(:name) || 'None' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Name:</strong>
        <%= @property.name %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Contact name:</strong>
        <%= @property.contact_name %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Organization:</strong>
        <%= @property.organization %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Address1:</strong>
        <%= @property.address1 %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Address2:</strong>
        <%= @property.address2 %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Address3:</strong>
        <%= @property.address3 %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>City:</strong>
        <%= @property.city %>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <strong>State:</strong>
        <%= @property.state %>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <strong>Zip:</strong>
        <%= @property.zip %>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <strong>Country:</strong>
        <%= @property.country %>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <p>
        <strong>Phone:</strong>
        <%= number_to_phone(@property.phone) if @property.phone.present? %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
        <strong>Fax:</strong>
        <%= number_to_phone(@property.fax) if @property.fax.present? %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
        <strong>Maintenance Phone:</strong>
        <%= number_to_phone(@property.maintenance_phone) if @property.maintenance_phone.present? %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
        <strong>Leasing Phone:</strong>
        <%= number_to_phone(@property.leasing_phone) if @property.leasing_phone.present? %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>
        <strong>Website:</strong>
        <%= @property.website %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Rental Application URL:</strong>
        <%= @property.application_url %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Email:</strong>
        <%= @property.email %>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">

      <p>
        <strong>Units:</strong>
        <%= @property.units %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <p>
        <strong>Notes:</strong>
        <%= @property.notes %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <strong>School District:</strong>
        <%= @property.school_district %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <strong>Amenities</strong>
        <%= @property.amenities %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= link_to 'Edit', edit_property_path(@property), class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Back', :back, class: 'btn btn-xs btn-info' %>
    </div>
  </div>

</div>
