<div class="property-details">
  <h2><%= @property.name %></h2>
  
  <% if @property.logo.attached? %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to(url_for(@property.logo), target: "_blank") do %>
          <%= image_tag(@property.logo.variant(resize: "200x200"), alt: "#{@property.name} logo" ) if @property.logo.attached? %>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Basic Information -->
  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Name:</strong>
        <%= @property.name %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Active:</strong>
        <%= @property.active %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Team:</strong>
        <%= @property.team.try(:name) || 'None' %>
      </p>
    </div>
  </div>

  <!-- Contact Information -->
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Contact name:</strong>
        <%= @property.contact_name %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <strong>Organization:</strong>
        <%= @property.organization %>
      </p>
    </div>
  </div>

  <!-- Address Information -->
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Address:</strong><br/>
        <%= @property.address1 %><br/>
        <% if @property.address2.present? %>
          <%= @property.address2 %><br/>
        <% end %>
        <% if @property.address3.present? %>
          <%= @property.address3 %><br/>
        <% end %>
        <%= @property.city %>, <%= @property.state %> <%= @property.zip %> <%= @property.country %>
      </p>
    </div>
  </div>

  <!-- Phone Numbers -->
  <div class="row">
    <div class="col-md-3">
      <p>
        <strong>Phone:</strong><br/>
        <%= number_to_phone(@property.phone) if @property.phone.present? %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
        <strong>Fax:</strong><br/>
        <%= number_to_phone(@property.fax) if @property.fax.present? %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
        <strong>Maintenance Phone:</strong><br/>
        <%= number_to_phone(@property.maintenance_phone) if @property.maintenance_phone.present? %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
        <strong>Leasing Phone:</strong><br/>
        <%= number_to_phone(@property.leasing_phone) if @property.leasing_phone.present? %>
      </p>
    </div>
  </div>

  <!-- Online Presence -->
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Email:</strong>
        <%= @property.email %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <strong>Website:</strong>
        <%= link_to @property.website, @property.website, target: "_blank" if @property.website.present? %>
      </p>
    </div>
  </div>

  <% if @property.application_url.present? %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Rental Application URL:</strong>
          <%= link_to @property.application_url, @property.application_url, target: "_blank" %>
        </p>
      </div>
    </div>
  <% end %>

  <!-- Property Details -->
  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Units:</strong>
        <%= @property.units %>
      </p>
    </div>
    <div class="col-md-8">
      <p>
        <strong>School District:</strong>
        <%= @property.school_district %>
      </p>
    </div>
  </div>

  <% if @property.amenities.present? %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Amenities:</strong><br/>
          <%= simple_format(@property.amenities) %>
        </p>
      </div>
    </div>
  <% end %>

  <% if @property.notes.present? %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Notes:</strong><br/>
          <%= simple_format(@property.notes) %>
        </p>
      </div>
    </div>
  <% end %>

  <!-- Actions -->
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Edit', edit_property_path(@property), class: "btn btn--small btn--primary" %>
      <%= link_to 'Back', :back, class: "btn btn--xs btn--info" %>
    </div>
  </div>
</div>