<div class="row">
  <div class="col-md-12">
    <h2>Office Hours</h2>
    <p>
      <strong>Timezone:</strong> <%= property.timezone %>
    </p>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Morning</th>
          <th>Afternoon</th>
        </tr>
      </thead>
      <tbody>
        <% working_hours = property.working_hours_or_defaults %>
        <% %w[monday tuesday wednesday thursday friday saturday sunday].each do |day| %>
        <tr>
          <td><%= day.capitalize %></td>
          <% if property.closed_on_day_of_week?(day) %>
            <td colspan=2>
              <em>Closed</em>
            </td>
            <% next %>
          <% end %>
          <td>
            <% if working_hours[day]["morning"]["open"].blank? %>
              <em>Closed</em>
            <% else %>
              <%= working_hours[day]["morning"]["open"] %> &rarr;
              <%= working_hours[day]["morning"]["close"]%>
            <% end %>
          </td>
          <td>
            <% if working_hours[day]["afternoon"]["open"].blank? %>
              <em>Closed</em>
            <% else %>
              <%= working_hours[day]["afternoon"]["open"] %> &rarr;
              <%= working_hours[day]["afternoon"]["close"] %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
