<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @property.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @property.address2 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @property.address3 %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @property.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @property.country %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @property.organization %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @property.contact_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @property.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @property.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @property.email %>
</p>

<p>
  <strong>Units:</strong>
  <%= @property.units %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @property.notes %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
