<div class="container">
  <div class="row">
    <div class="col-md-12">

      <%= render partial: "show_property_attributes" %>
      <%= render partial: "show_phone_numbers" %>
      <%= render partial: "show_listings" %>
      <%= render partial: "show_team" %>
      <%= render partial: "show_unit_types" %>
      <%= render partial: "show_units" %>
      <%= render partial: "show_residents" %>

    </div>
  </div>

</div>
