<% if current_user&.profile %>
  <%= tooltip_block('toggle-message-notifications') do %>
    <div class="sidebar__account-controls-button toggle-setting__button <%= current_user&.profile&.setting_enabled?(:message_web_notifications) ? 'toggle-setting__button--on' : 'toggle-setting__button--off' %>" id="toggle_message_notifications">
      <%= link_to(switch_setting_user_path(id: current_user.id, setting: :message_web_notifications), method: :post) do %>
        <span class="glyphicon glyphicon-envelope"></span>
      <% end %>
    </div>
  <% end %>

  <%= tooltip_block('toggle-lead-notifications') do %>
    <div class="sidebar__account-controls-button toggle-setting__button <%= current_user&.profile&.setting_enabled?(:lead_web_notifications) ? 'toggle-setting__button--on' : 'toggle-setting__button--off' %>" id="toggle_lead_notifications">
      <%= link_to(switch_setting_user_path(id: current_user.id, setting: :lead_web_notifications), method: :post) do %>
        <span class="glyphicon glyphicon-flag"></span>
      <% end %>
    </div>
  <% end %>
<% end %>
