<%= form_with(model: reason, local: true) do |form| %>
  <% if reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reason.errors.count, "error") %> prohibited this reason from being saved:</h2>

      <ul>
        <% reason.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldset-content">
    <div class="row">
      <div class="form__group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :reason_name, class: "form__control" %>
      </div>
    </div>

    <div class="row">
      <div class="form__group">
        <%= form.label :description %>
        <%= form.text_field :description, id: :reason_description, class: "form__control" %>
      </div>
    </div>

    <div class="form__check">
      <%= form.check_box :active, class: 'form__check-input' %>
      <%= form.label :active, 'Reason is active?', class: 'form__check-label' %>
    </div>

  </div>

  <div class="form__group">
    <button type="submit" class="btn btn--primary">Save</button>
  </div>
<% end %>
