<section class="section">
<div class="row">
  <div class="col-md-6">
    <h1>Reasons</h1>
    <h4>Lead Action and Other Reasons</h4>
  </div>
  <% if policy(Reason).new? %>
    <div class="col-md-6 text-right">
      <%= link_to 'Create New Reason', new_reason_path, class: "btn btn--small btn--primary" %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table" data-clickable-rows="true">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Active?</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @reasons.each do |reason| %>
            <tr>
              <td class="first-column"><%= reason.name %></td>
              <td><%= reason.description %></td>
              <td><%= reason.active ? "Yes" : "No" %></td>
              <td class="actions">
                <%= model_link_with_tooltip(reason, :show) %>
                <%= model_link_with_tooltip(reason, :edit) %>
                <%= model_link_with_tooltip(reason, :destroy) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>