<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Reasons</h1>
      <h4>Lead Action and Other Reasons</h4>
    </div>
    <% if policy(Reason).new? %>
      <div class="col-md-6 text-right">
        <%= glyph(:create) %>
        <%= link_to 'create new reason', new_reason_path %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Active?</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @reasons.each do |reason| %>
            <tr>
              <td class="first-column"><%= reason.name %></td>
              <td><%= reason.description %></td>
              <td><%= reason.active ? "Yes" : "No" %></td>
              <td>
                <%= link_to reason do %><%= glyph(:show) %><% end %>&nbsp;
                <%= link_to edit_reason_path(reason) do %><%= glyph(:edit) %><% end %>&nbsp;
                <%= link_to reason, method: :delete, data: { confirm: 'Are you sure?' } do %><%= glyph(:delete) %><% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <% if policy(Reason).new? %>
      <div class="col-md-12 text-right">
        <%= glyph(:create) %>
        <%= link_to 'Create New Reason', new_reason_path %>
      </div>
    <% end %>
  </div>
</div>
