<div class="card card--status <%= comment.lead_action.present? ? 'card--status-info' : 'card--status-gray' %>" id="note_<%= comment.id %>">
  <div class="card__body">
    <div class="card__task-layout">
      <div class="card__icon card__icon--<%= comment.lead_action.present? ? 'info' : 'comment' %>">
        <% if comment.user.present? %>
          <%= comment.user.name.split(' ').map(&:first).join.upcase[0..1] %>
        <% else %>
          <%= glyph(:cog) %>
        <% end %>
      </div>
      
      <div class="card__details">
        <div class="card__meta">
          <%= glyph(:time) %>
          <%= short_datetime(comment.created_at) %>
          <% if comment.updated_at > comment.created_at + 1.minute %>
            <span class="edited-tag" title="Edited <%= short_datetime(comment.updated_at) %>">
              (edited)
            </span>
          <% end %>
        </div>
        
        <h4 class="card__title">
          <%= comment.user&.name || 'System' %>
          <% if comment.lead_action.present? %>
            - <%= action_and_reason(comment) %>
          <% end %>
        </h4>
        
        <div class="card__description">
          <%= sanitize(linkify_note_content(note_content(comment)),
              tags: %w[p br a],
              attributes: %w[href target rel]) %>
        </div>
        
        <% if comment.respond_to?(:messageable) && comment.messageable.present? %>
          <div class="card__meta card__meta--inline">
            <% if comment.messageable_type == 'Message' %>
              <% if comment.messageable.category == 'sms' %>
                <%= glyph(:phone) %>
              <% else %>
                <%= glyph(:envelope) %>
              <% end %>
            <% end %>
            <span class="u-text--muted">
              <%= comment.messageable_type == 'Message' ? "#{comment.messageable.category.upcase} sent" : comment.messageable_type %>
            </span>
          </div>
        <% end %>
      </div>
      
      <div class="card__actions">
        <% if policy(comment).edit? %>
          <%= link_to edit_note_path(comment), 
              class: 'btn btn--primary btn--icon', 
              title: 'Edit Comment',
              data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= glyph(:pencil) %>
          <% end %>
        <% end %>
        
        <% if policy(comment).destroy? %>
          <%= link_to note_path(comment), 
              method: :delete,
              data: { 
                confirm: 'Are you sure you want to delete this comment?',
                toggle: 'tooltip',
                placement: 'top'
              },
              class: 'btn btn--danger btn--icon',
              title: 'Delete Comment' do %>
            <%= glyph(:trash) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>