<%= form_with(model: lead, local: true) do |form| %>
  <%= hidden_field_tag 'lead[id]', lead.id, id: 'lead_id' %>

  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
        <% lead.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
      <legend>Assignment</legend>

      <div class="row">
        <div class="col-md-4 form-group">
          <%= form.label "Priority" %>
          <%= form.select :priority, priorities_for_select(lead), {}, {class: "form-control"} %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 form-group">
          <h3 id="lead_state_name"><%= lead.state&.capitalize %></h3>
          <% if policy(lead).manually_change_state? %>
            <%= link_to("Change", "#", {id: "lead_toggle_change_state", class: "btn btn-xs btn-default"}) %>
            <div id="lead_force_state" style="display: none;">
              <%= form.label :state %>
              <%= form.select :state, options_for_select(lead.aasm.states.map{|s| [s.human_name, s.name.to_s]}, lead.state), {}, {class: "form-control"} %>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 form-group">
          <%= form.label "Agent" %>
          <%= form.select :user_id, users_for_select(lead),
                { include_blank: true },
                { class: "form-control", disabled: !policy(lead).change_user? } %>
        </div>
        <div class="col-md-4 form-group">
          <%= form.label "Classified As A" %>
          <%= form.select :classification, options_for_select(Lead.classifications.map{|k,v| [k.capitalize, k]}, lead.classification), {}, { class: "form-control" } %>
        </div>
      </div>

    </fieldset>

    <fieldset>
      <legend>Lead Information</legend>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label 'Property'%><br/>
          <%= form.select :property_id, properties_for_select(lead.property_id), { include_blank: true }, { class: "form-control" } %>
        </div>
        <%= form.hidden_field :lead_source_id, value: LeadSource.default.id %>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label :referral, 'Lead Source/Referral Origin' %>
          <small>Select or enter a referral source</small>
          <%= form.select :referral, select_lead_referral_source(lead.referral || 'Drive By'), {include_blank: true}, { id: :lead_referral, class: "form-control selectize" } %>
        </div>
        <div class="col-md-6 form-group">
          <div id="lead_referrable">
            <%= lead_referrable_select(lead: lead, referral: lead.referral) %>
          </div>
        </div>
      </div>

      <% if policy(lead).change_remoteid? %>
        <div class="row">
          <div class="col-md-4 form-group">
            <%= form.label :remoteid %>
            <%= content_tag(:span, glyph(:warning_sign), style: "color: red;") if lead.duplicate_remoteid? %>
            <%= form.text_field :remoteid, class: "form-control" %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-2 form-group">
          <%= form.label :title %><br/>
          <%= form.select :title, titles_for_select(lead.title), { include_blank: true }, { id: :lead_title, class: 'form-control' } %>
        </div>
        <div class="col-md-3 form-group">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, id: :lead_first_name, class: "form-control" %>
        </div>
        <div class="col-md-3 form-group">
          <%= form.label :middle_name %>
          <%= form.text_field :middle_name, id: :lead_middle_name, class: "form-control" %>
        </div>
        <div class="col-md-3 form-group">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, id: :lead_last_name, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label :email %>
          <%= form.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 form-group">
          <%= form.label :phone1 %>
          <%= form.text_field :phone1, class: "form-control" %>
        </div>
        <div class="col-md-3 form-group">
          <%= form.label :phone1_type %>
          <%= form.select :phone1_type, options_for_select(Lead::PHONE_TYPES), {include_blank: true}, { class: "form-control" } %>
        </div>
        <div class="col-md-3 form-group">
          <%= form.label :phone1_tod, "Best Time to Call" %>
          <%= form.select :phone1_tod, options_for_select(Lead::PHONE_TOD), {include_blank: true}, { class: "form-control" } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 form-group">
          <%= form.label :phone2 %>
          <%= form.text_field :phone2, class: "form-control" %>
        </div>
        <div class="col-md-3 form-group">
          <%= form.label :phone2_type %>
          <%= form.select :phone2_type, options_for_select(Lead::PHONE_TYPES), {include_blank: true}, { class: "form-control" } %>
        </div>
        <div class="col-md-3 form-group">
          <%= form.label :phone2_tod, "Best Time to Call" %>
          <%= form.select :phone2_tod, options_for_select(Lead::PHONE_TOD), {include_blank: true}, { class: "form-control" } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 form-group">
          <%= form.label :fax %>
          <%= form.text_field :fax, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label :dob, "Date of Birth" %><br/>
          <%= form.date_select :dob,
              { include_blank: true,
                start_year: (Date.current.year - 110),
                end_year: (Date.current.year - 16)},
              { class: "form-control form-control-date-select" } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 form-group">
          <%= form.label :id_number, "DL/ID Number" %>
          <%= form.text_field :id_number, class: "form-control" %>
        </div>
        <div class="col-md-2 form-group">
          <%= form.label :id_state, "DL/ID State" %>
          <%= form.select :id_state, options_for_select(US_STATES), {include_blank: true}, { class: "form-control" } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <%= form.label :notes, 'Agent Notes' %>
          <%= form.text_area :notes, id: :lead_notes, class: "form-control", rows: 6 %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label 'First Communication'  %><br/>
          <%= form.date_select :first_comm, {}, { id: :lead_first_comm, class: "form-control form-control-date-select" } %>
        </div>

        <div class="col-md-6 form-group">
          <%= form.label 'Last Communication'  %><br/>
          <%= form.date_select :last_comm, {}, { id: :lead_last_comm, class: "form-control form-control-date-select" } %>
        </div>
      </div>
    </fieldset>

  <%= render partial: 'preference_form', locals: { form: form } %>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
    <%= link_to('Cancel', :back, class: 'btn btn-xs btn-info') %>
  </div>
<% end %>
