<tr id="lead_<%= lead.id %>" class="lead-table-row">
  <td>
    <%= lead_priority_icon(lead) %>
    <%= state_toggle(lead) %>
  </td>
  <td class="nowrap">
    <span class="lead">
      <%= lead.title %>
      <%= lead.first_name %>
      <%= lead.middle_name %>
      <%= lead.last_name %>
    </span>
    <br/>
    <%= render partial: "leads/contact_mini_card", locals: {lead: lead} %>
  </td>
  <td class="nowrap">
    <% if lead.property.present? %>
      <strong>Property:</strong> <%= link_to(lead.property.name, property_path(lead.property)) %>
    <% end %>
    <% if lead.source.present? %>
      <br/>
      <strong>Source:</strong> <%= link_to(lead.source.name, lead_source_path(lead.source)) %>
    <% end %>
    <p>
      <strong>Referral:</strong> <%= lead.referral %>
    </p>
  </td>
  <td>
    <p>
      <strong>Lead:</strong> <%= lead.preference.try(:notes) || 'None' %>
    </p>
  </td>
  <td>
    <%= short_datetime(lead.first_comm) %> |
    <%= short_datetime(lead.last_comm) || '-' %>
  </td>
  <td class="nowrap">
    <%= link_to lead do %><%= glyph(:show) %><% end %>&nbsp;
    <%= link_to edit_lead_path(lead) do %><%= glyph(:pencil) %><% end %>&nbsp;
    <%= link_to lead, method: :delete, data: { confirm: 'Are you sure?' } do %><%= glyph(:delete) %><% end %>
  </td>
</tr>
