<tr class="<%= message.read? ? '' : 'message_unread' %> <%= message.draft? ? 'message_draft' : '' %>">
  <td>
    <span class="text-nowrap">
      <% if message.draft? %>
        <%= tooltip_block('message-edit-link') do %>
          <%= link_to(glyph(:edit), edit_message_path(message), class: 'btn btn-xs btn-primary') if policy(message).edit? %>
        <% end %>
        <%= message_type_indicator(message) %>
        <%= link_to("Send Now", deliver_message_path(message), {method: :post, class: "btn btn-sm btn-primary" }) %>
      <% else %>
        <span class="dashboard_item_date">
          <%= message_delivery_indicator_link(message) %>
          <%= message_type_indicator(message) %>
          <%= short_datetime(message.delivered_at || message.updated_at) %>
        </span>
      <% end %>
    </span>
  </td>
  <td>
    <%= link_to(message_path(message)) do %>
      <span class="text-nowrap">
        <%= message.subject %>
      </span>
    <% end %>
  </td>
  <td class="message_body_preview">
    <% if message.draft? %>
      <%= link_to(edit_message_path(message)) do %>
        <%= message_body_preview(message) %>
      <% end %>
    <% else %>
      <%= link_to(message_path(message)) do %>
        <%= message_body_preview(message) %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to(message, method: :delete, data: { confirm: 'Discard this message without sending?' } ) do %>
      <%= glyph(:delete) %>
      <% end if policy(message).destroy? %>
    </td>
  </tr>
