<tr class="<%= message.read? ? '' : 'message_unread' %> <%= message.draft? ? 'message_draft' : '' %>" id="message-preview-<%= message.id %>">
  <td>
    To: <%= message.recipient_name %><br>
    From: <%= message.sender_name %><br>
    <span class="text-nowrap">
      <% if message.draft? %>
        <%= tooltip_block('message-edit-link') do %>
          <%= link_to(glyph(:pencil), edit_message_path(message), class: "btn btn--xs btn--primary") if policy(message).edit? %>
        <% end %>
        <%= message_type_indicator(message) %>
        <%= link_to("Send Now", deliver_message_path(message), {method: :post, class: "btn btn--small btn--primary" }) %>
      <% else %>
        <span class="dashboard_item_date">
          <%= message_delivery_indicator_link(message) %>
          <%= message_type_indicator(message) %>
          <%= short_datetime(message.delivered_at || message.updated_at) %>
        </span>
      <% end %>
    </span>
    <p>
      <br/>
      <%= link_to('Mark As Read', lead_message_lead_page_mark_read_path(lead_id: message.messageable_id, message_id: message.id), {class: "btn btn--primary btn--small", id: "message-read-button-#{message.id}",remote: true, method: :post}) if !message.read? && message.incoming? && policy(message).lead_page_mark_read? %>
    </p>
  </td>
  <td class="message_body_preview">
    <% if message.message_type&.name != 'SMS' %>
      <%= link_to(message_path(message)) do %>
        <span class="message_subject">
          <%= message.subject %>
        </span>
      <% end %>
    <% end %>
    <% if message.draft? %>
      <%= link_to(edit_message_path(message)) do %>
        <%= message_body_preview(message) %>
      <% end %>
    <% else %>
      <%= link_to(message_path(message)) do %>
        <%= message_body_preview(message) %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to(message, method: :delete, data: { confirm: 'Discard this message without sending?' } ) do %>
      <%= glyph(:delete) %>
      <% end if policy(message).destroy? %>
    </td>
  </tr>
