<div class="row messages" id="lead_messages">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-2">
        <h2>Messages</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <%= render partial: "messages/new_message_callout", locals: {messageable: lead} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <% if lead.messages.empty? %>
          <p class="lead">None</p>
        <% end %>
        <table class="table message_list">
          <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <% lead.messages.display_order.each do |message| %>
              <% next unless policy(message).show? %>
              <tr class="<%= message.read? ? '' : 'message_unread' %> <%= message.draft? ? 'message_draft' : '' %>">
                <td>
                  <span class="text-nowrap">
                    <% if message.draft? %>
                      <%= link_to(glyph(:edit), edit_message_path(message), class: 'btn btn-xs btn-primary') if policy(message).edit? %>
                      <%= message_type_indicator(message) %>
                      <%= link_to("Send Now", deliver_message_path(message), {method: :post, class: "btn btn-sm btn-primary" }) %>
                    <% else %>
                      <span class="dashboard_item_date">
                        <%= message_delivery_indicator(message) %>
                        <%= message_type_indicator(message) %>
                        <%= short_datetime(message.delivered_at || message.updated_at) %>
                      </span>
                    <% end %>
                  </span>
                </td>
                <td>
                  <%= link_to(message_path(message)) do %>
                    <span class="text-nowrap">
                      <%= message.subject %>
                    </span>
                  <% end %>
                </td>
                <td class="message_body_preview">
                  <% if message.draft? %>
                    <%= link_to(edit_message_path(message)) do %>
                      <%= message_body_preview(message) %>
                    <% end %>
                  <% else %>
                    <%= link_to(message_path(message)) do %>
                      <%= message_body_preview(message) %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= link_to(message, method: :delete, data: { confirm: 'Discard this message without sending?' } ) do %>
                    <%= glyph(:delete) %>
                  <% end if policy(message).destroy? %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
