<div class="row messages" id="lead_messages">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-2">
        <h2>Messages</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <%= render partial: "messages/new_message_callout", locals: {messageable: lead} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 pull-right">
        <% if lead.messages.unread.exists? %>
          <%= link_to('Mark All as Read', mark_messages_read_lead_path(id: lead.id), method: :post, class: 'btn btn-xs btn-primary') %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <% if lead.messages.empty? %>
          <p class="lead">None</p>
        <% end %>
        <table class="table">
          <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <% lead.messages.order("delivered_at DESC").each do |message| %>
              <tr class="<%= message.read? ? '' : 'message_unread' %>">
                <td>
                  <span class="text-nowrap">
                    <% if message.draft? %>
                      <%= link_to("Send Now", deliver_message_path(message), {method: :post, class: "btn btn-sm btn-primary" }) %>
                    <% else %>
                      <span class="dashboard_item_date">
                        <%= short_datetime(message.delivered_at) %>
                      </span>
                    <% end %>
                  </span>
                </td>
                <td>
                  <span class="btn btn-xs btn-<%= message.draft? ? 'default' : 'success' %>">
                    <%= message.incoming? ? 'Incoming' : 'Outgoing' %>
                  </span>
                  <% if message.failed? %>
                    <span class="btn btn-xs btn-danger">Delivery Failed</span>
                  <% end %>
                </td>
                <td><span class="text-nowrap"><%= message.subject %></span></td>
                <td>
                  <%= truncate(message.body, length: Message::PREVIEW_LENGTH, omission: '... (continued)') %>
                </td>
                <td class="text-nowrap">
                  <% if message.draft? %>
                    <%= link_to(glyph(:edit), edit_message_path(message)) if policy(message).edit? %>
                    <%= link_to(message, method: :delete, data: { confirm: 'Are you sure?' } ) do %>
                      <%= glyph(:delete) %>
                    <% end if policy(message).destroy? %>
                  <% else %>
                    <%= link_to(glyph(:show), message_path(message)) if policy(message).show? %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
