  <%= form.fields_for :preference do |preference_form| %>
      <fieldset class="fieldset">
        <legend class="fieldset__legend">Preferences</legend>

        <% if policy(preference_form.object.lead).change_contact_preferences? %>
          <div class="row">
            <div class="col-md-3 form__group">
              <div class="form__check">
                <%= preference_form.check_box :optin_sms, class: 'form__check-input' %>
                <%= preference_form.label :optin_sms, 'SMS Messaging Allowed', class: 'form__check-label' %>
              </div>
            </div>
            <div class="col-md-3 form__group">
              <div class="form__check">
                <%= preference_form.check_box :optout_email, class: 'form__check-input' %>
                <%= preference_form.label :optout_email, 'Do Not Email', class: 'form__check-label' %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-6 form__group">
            <%= preference_form.label :unit_type_id, 'Unit Type', class: 'form__label' %>
            <%= preference_form.select :unit_type_id,
              unit_types_for_select(property: preference_form.object.lead.property, value: preference_form.object.unit_type_id),
              {include_blank: true}, {class: 'form__control'} %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 form__group">
            <%= preference_form.label :min_area, 'Minimum sqft.', class: 'form__label' %>
            <%= preference_form.text_field :min_area, class: 'form__control' %>
          </div>
          <div class="col-md-3 form__group">
            <%= preference_form.label :max_area, 'Maximum sqft.', class: 'form__label' %>
            <%= preference_form.text_field :max_area, class: 'form__control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 form__group">
            <%= preference_form.label :min_price, 'Minimum Price', class: 'form__label' %>
            <div class="input-group">
              <div class="input-group__prepend">
                <span class="input-group__text">$</span>
              </div>
              <%= preference_form.text_field :min_price, class: 'form__control' %>
            </div>
          </div>
          <div class="col-md-3 form__group">
            <%= preference_form.label :max_price, 'Maximum Price', class: 'form__label' %>
            <div class="input-group">
              <div class="input-group__prepend">
                <span class="input-group__text">$</span>
              </div>
              <%= preference_form.text_field :max_price, class: 'form__control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 form__group">
            <%= preference_form.label :beds, 'Bedrooms', class: 'form__label' %>
            <%= preference_form.number_field :beds, step: 1 , class: 'form__control' %>
          </div>
          <div class="col-md-2 form__group">
            <%= preference_form.label :baths, 'Bathrooms', class: 'form__label' %>
            <%= preference_form.number_field :baths, step: 0.5, class: 'form__control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form__group">
            <% 
              # date_select doesn't handle bad dates, so HACK if needed
              preference_form.object.move_in = nil if ( preference_form.object.move_in ||DateTime.current ) < 100.years.ago
            %>
            <%= preference_form.label 'Move In Date', class: 'form__label' %><br/>
            <%= preference_form.date_select :move_in, {}, { class: 'form__control form__control--date-select' } %>
          </div>
        </div>

        <div class="form__group">
          <h4>Amenities</h4>
          <div class="form__check">
            <%= preference_form.check_box :pets, class: 'form__check-input' %>
            <label class="form__check-label">Pets Allowed?</label>
          </div>
          <div class="form__check">
            <%= preference_form.check_box :smoker, class: 'form__check-input' %>
            <label class="form__check-label">Smoking Allowed?</label>
          </div>
          <div class="form__check">
            <%= preference_form.check_box :washerdryer, class: 'form__check-input' %>
            <label class="form__check-label">Washer/Dryer Connection?</label>
          </div>
        </div>

        <div class="form__group">
          <%= preference_form.label 'Lead Notes', class: 'form__label' %><br/>
          <%= preference_form.text_area :notes, class: 'form__control', rows: 6, readonly: true %>
        </div>
      </fieldset>
  <% end %>
