  <%= form.fields_for :preference do |preference_form| %>
    <div class="fieldset_content">
      <fieldset>
        <legend>Preferences</legend>

        <div class="row">
          <div class="col-md-6 form-group">
            <%= preference_form.label :unit_type_id, 'Unit Type' %>
            <%= preference_form.select :unit_type_id,
              unit_types_for_select(property: preference_form.object.lead.property, value: preference_form.object.unit_type_id),
              {include_blank: true}, {class: 'form-control'} %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 form-group">
            <%= preference_form.label 'Minimum sqft.'%><br/>
            <%= preference_form.text_field :min_area, class: 'form-control' %>
          </div>
          <div class="col-md-3 form-group">
            <%= preference_form.label 'Maximum sqft.'%><br/>
            <%= preference_form.text_field :max_area, class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 form-group">
            <%= preference_form.label 'Minimum Price'%>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <%= preference_form.text_field :min_price, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <%= preference_form.label 'Maximum Price'%>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <%= preference_form.text_field :max_price, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-2">
            <%= preference_form.label 'Bedrooms'%><br/>
            <%= preference_form.number_field :beds, step: 1 , class: 'form-control' %>
          </div>
          <div class="col-md-2">
            <%= preference_form.label 'Bathrooms'%><br/>
            <%= preference_form.number_field :baths, step: 0.5, class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <%= preference_form.label 'Move In Date' %><br/>
            <%= preference_form.date_select :move_in, {}, { class: 'form-control form-control-date-select' } %>
          </div>
        </div>

        <div class="form-group">
          <h4>Amenities</h4>
          <div class="form-check-label">
            <%= preference_form.check_box :pets, class: 'form-check-input' %>
            Pets Allowed?
          </div>
          <div class="form-check-label">
            <%= preference_form.check_box :smoker, class: 'form-check-input' %>
            Smoking Allowed?
          </div>
          <div class="form-check-label">
            <%= preference_form.check_box :washerdryer, class: 'form-check-input' %>
            Washer/Dryer Connection?
          </div>
        </div>

        <div class="form-group">
          <%= preference_form.label 'Lead Notes' %><br/>
          <%= preference_form.text_area :notes, class: 'form-control', rows: 6 %>
        </div>
      </fieldset>
    </div>
  <% end %>
