<% if action_memo_visible?(eventid) %>
  <% if eventid == 'nurture' || eventid == 'abandon' %>
    <div class="row">
      <div class="col-md-6 form__group">
        <label class="form__label"><b>Reason</b></label>
        <div class="form__check">
          <%= radio_button :memo, lead.transition_memo, 'Price Point', {id: 'transition_memo_price', name: 'memo', class: 'form__check-input'} %>
          <%= label_tag "transition_memo_price", "Price Point", class: 'form__check-label' %>
        </div>
        <div class="form__check">
          <%= radio_button :memo, lead.transition_memo, 'Location', {id: 'transition_memo_location', name: 'memo', class: 'form__check-input'} %>
          <%= label_tag "transition_memo_location", "Location", class: 'form__check-label' %>
        </div>
        <div class="form__check">
          <%= radio_button :memo, lead.transition_memo, 'Availability', {id: 'transition_memo_availability', name: 'memo', class: 'form__check-input'} %>
          <%= label_tag "transition_memo_availability", "Availability", class: 'form__check-label' %>
        </div>
        <div class="form__check">
          <%= radio_button :memo, lead.transition_memo, 'Timing', {id: 'transition_memo_timing', name: 'memo', class: 'form__check-input'} %>
          <%= label_tag "transition_memo_timing", "Timing - Not Ready Now", class: 'form__check-label' %>
        </div>
        <div class="form__check">
          <%= radio_button :memo, lead.transition_memo, 'Qualification', {id: 'transition_memo_qualification', name: 'memo', class: 'form__check-input'} %>
          <%= label_tag "transition_memo_qualification", "Qualification", class: 'form__check-label' %>
        </div>
        <div class="form__check">
          <%= radio_button :memo, lead.transition_memo, 'Competition', {id: 'transition_memo_competition', name: 'memo', class: 'form__check-input'} %>
          <%= label_tag "transition_memo_competition", "Chose Another Property", class: 'form__check-label' %>
        </div>
        <div class="form__check">
          <%= radio_button :memo, lead.transition_memo, 'Other', {id: 'transition_memo_other', name: 'memo', class: 'form__check-input'} %>
          <%= label_tag "transition_memo_other", "Other", class: 'form__check-label' %>
        </div>
        <%= text_area_tag :memo_text, lead.transition_memo, rows: 5, class: "form__control", id: 'transition_memo_text', disabled: 'disabled' %>
      </div>
    </div>

    <script type="text/javascript">
      $("input[id^='transition_memo_'").on('change', function(e){
        if(e.target.id == 'transition_memo_other') {
          $('#transition_memo_text').removeAttr('disabled').focus()
        } else {
          $('#transition_memo_text').attr('disabled', 'disabled').val('')
          $('#transition_memo_other').attr('value', 'Other')
        }
      })
      $('#transition_memo_text').on('keyup', function(e){
        $('#transition_memo_other').attr('value', e.target.value)
      })
      $('#transition_memo_other').click()
    </script>

  <% else %>
    <div class="row">
      <div class="col-md-6 form__group">
        <%= label_tag "Memo", nil, class: 'form__label' %>
        <%= text_area_tag :memo, lead.transition_memo, rows: 5, class: "form__control" %>
      </div>
    </div>
  <% end %>
<% end %>
