<div class="state_toggle">
  <div class="row" >
    <div class="col-md-12" class="dropdown">
      <ul id="crumbs">
        <% state_options = %w{open prospect showing application resident} %>
        <% is_other_state = (! state_options.include?(lead.state)) %>
        <% if is_other_state %>
          <li class="crumb">
            <a role="button" class="crumb-link crumb-active crumb-isolated dropdown-toggle" data-toggle="dropdown" href="#"><%= lead.state.capitalize %></a>
            <% if policy(lead).permitted_state_events.any? %>
            <ul class="dropdown-menu">
              <% policy(lead).permitted_state_events.each do |event_name| %>
                <li>
                  <%= link_to(progress_state_lead_path(id: lead.id, eventid: event_name)) do %>
                    <%= event_name.to_s.humanize.titlecase %> &mdash; <small><%= lead_transition_help_text(event_name) %></small>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
          </li>
        <% end %>
        <% state_options.each do |state_option| %>
          <% if state_option == lead.state %>
            <li class="crumb">
              <a role="button" class="crumb-link crumb-active <%= %> dropdown-toggle" data-toggle="dropdown" href="#"><%= lead.state.capitalize %></a>
              <% if policy(lead).permitted_state_events.any? %>
              <ul class="dropdown-menu">
                <% policy(lead).permitted_state_events.each do |event_name| %>
                  <li>
                    <%= link_to(progress_state_lead_path(id: lead.id, eventid: event_name)) do %>
                      <%= event_name.to_s.humanize.titlecase %> &mdash; <small><%= lead_transition_help_text(event_name) %></small>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
            </li>
          <% else %>
            <li class="crumb">
              <a class="crumb-link crumb-inactive" href="#" onClick="return false;"><%= state_option.capitalize %></a>
            </li>
          <% end %>

        <% end %>
      </ul>
    </div>
  </div>
  <div class="state_toggle-agent row">
    <div class="col-md-12 nowrap">
      <% if lead.user.present? %>
        <strong>Agent:</strong> <%= lead.user.name %>
      <% end %>
    </div>
  </div>
</div>
