<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1>Leads</h1>
    </div>
    <div class="col-md-6 text-right">
      <%= glyph(:create) %>
      <%= link_to 'Create New Lead', new_lead_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="leads-table" class="table">
        <thead>
          <tr>
            <th class="lead-state" >State</th>
            <th>Property/Source</th>
            <th>Name/Contact</th>
            <th>Notes</th>
            <th>First/Last Contact</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: "lead", collection: @leads %>
        </tbody>
      </table>
      <br>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <%= glyph(:create) %>
      <%= link_to 'Create New Lead', new_lead_path %>
    </div>
  </div>
</div>
