<div class="row">
  <div class="col-md-12">
    <h4><%= humanize_lead_state(@eventid) %> : Progressing <%= @lead.name %> from '<%= humanize_lead_state(@lead.state) %>' Stage</h4>
  </div>
</div>

<%= form_tag update_state_lead_path(@lead), method: :post, class: "form" do %>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label_tag "Event" %>
      <%= select_tag :eventid, options_for_select(policy(@lead).permitted_state_events.map{|se| [humanize_lead_state(se), se]}, @eventid), class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label_tag "Classify As A"%>
      <%= select_tag :classification, lead_classifications_for_progressing_state(lead: @lead, event: @eventid), class: "form-control"%>
    </div>
  </div>

  <% if @eventid == 'postpone' %>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= label_tag "Follow Up On" %>
        <%= date_select :follow_up_at, nil, {class: 'form-control form-control-date-select'}  %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 form-group">
      <%= label_tag "Memo"%>
      <%= text_area_tag :memo, @lead.transition_memo, rows: 5, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
      <%= link_to('Cancel', :back, {class: "btn btn-xs btn-info"}) %>
  </div>
<% end %>

<script type="text/javascript">
  $("#memo").focus();
</script>
