<div class="row">
  <div class="col-md-12">
    <h4><%= humanize_lead_state(@eventid) %> : Progressing <%= @lead.name %> from '<%= humanize_lead_state(@lead.state) %>' Stage</h4>
  </div>
</div>

<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_tag update_state_lead_path(@lead), method: :post, class: "form" do %>

  <div class="row">
    <div class="col-md-4 form__group">
      <%= label_tag "Action", nil, class: 'form__label' %>
      <% options = @eventid.present? ? [ [ humanize_lead_state(@eventid), @eventid ]] : policy(@lead).permitted_state_events.map{|se| [humanize_lead_state(se), se]} %>
      <%= select_tag :eventid, options_for_select(options, @eventid), class: "form__control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form__group">
      <%= label_tag "Classify As A", nil, class: 'form__label' %>
      <% classifications, _ = lead_event_classifications(lead: @lead, event: @eventid) %>
      <%= select_tag :classification, lead_classifications_for_progressing_state(lead: @lead, event: @eventid), {include_blank: '-- Choose One --', required: true, class: 'form__control' }%>
    </div>
  </div>

  <% if @eventid == 'nurture' %>
    <div class="row">
      <div class="col-md-6 form__group">
        <%= label_tag "Follow Up On", nil, class: 'form__label' %>
        <%
          # Date range: 90 to 275 days from today
          min_date = Date.current + 90.days
          max_date = Date.current + 275.days
          default_date = Date.current + 90.days
        %>
        <%= date_select :follow_up_at, nil,
            {
              start_year: min_date.year,
              end_year: max_date.year,
              default: default_date,
              order: [:month, :day, :year]
            },
            {
              class: 'form__control form__control--date-select',
              data: {
                min_date: min_date.to_s,
                max_date: max_date.to_s
              }
            }
        %>
        <small class="form-text">
          Choose a date between <%= min_date.strftime('%B %d, %Y') %> and <%= max_date.strftime('%B %d, %Y') %> (90-275 days from today)
        </small>
      </div>
    </div>
  <% end %>

  <%= render partial: 'progress_state_memo', locals: { lead: @lead, eventid: @eventid } %>

  <div class="form__group">
    <button type="submit" class="btn btn--primary">Save</button>
      <%= link_to('Cancel', :back, {class: "btn btn--xs btn--info"}) %>
  </div>
<% end %>

<script type="text/javascript">
  $("#memo").focus();
</script>
