<div class="container" id="lead_<%= @lead.id %>">
  <div class="Lead" >
    <div class="priority">
      <ul>
        <li>
          <strong>Priority:</strong>
          &nbsp;
          <span><%= @lead.priority %></span>
        </li>
        <li>
          <strong>State:</strong>
          &nbsp;
          <span><%= @lead.state %></span>
        </li>
        <li>
          <strong>Agent:</strong>
          &nbsp;
          <span><%= @lead.user ? @lead.user.name : "None" %></span>
        </li>
        <li>
          <strong>FC:</strong>
          &nbsp;
          <span><%= @lead.first_comm.try(:strftime, "%m/%d/%y") %></span>
        </li>
        <li>
          <strong>LC:</strong>
          &nbsp;
          <span><%= @lead.last_comm.try(:strftime, "%m/%d/%y") %></span>
        </li>
      </ul>
    </div>

    <div class="controls row">
      <div class="col-md-4">
          <%= render partial: "state_toggle", locals: {lead: @lead} %>
      </div>
    </div>

    <div class="contact" >
      <span class="lead_name">
        <%= @lead.name %>
      </span><br/>
      <span class="contact_info" >
        <span title="Primary Phone" class="glyphicon glyphicon-earphone" ></span>&nbsp;
        <%= @lead.phone1 %><br/>
        <span title="Secondary Phone" class="glyphicon glyphicon-earphone"></span>&nbsp;
        <%= @lead.phone2 %><br/>
        <span title="Email Address" class="glyphicon glyphicon-envelope"></span>&nbsp;
        <%= @lead.email %><br/>
        <span title="Fax Number" class="glyphicon glyphicon-file"></span>&nbsp;
        <%= @lead.fax %>
      </span>
    </div>
    <div class="property">
      <% if @lead.property.present? %>
        <span>
          <span class="glyphicon glyphicon-home"></span>&nbsp;
          <%= @lead.property.name %>
        </span><br/>
        <span>
          <span class="glyphicon glyphicon-download-alt"></span>&nbsp;
          <%= @lead.source.name %>
        </span><br/>
      <% else %>
        <span>No Property<br/></span>
      <% end %>
      <span>
        <span class="glyphicon glyphicon-user"></span>&nbsp;
        <%= @lead.referral %>
      </span>
    </div>
    <div class="preferences">
      <span>
        <strong>Move-In: </strong>
        <%= long_date(@lead.preference.move_in) %>
      </span><br/>
      <span>
        <strong>Price: </strong>
        $<%= @lead.preference.min_price %> - $<%= @lead.preference.max_price %>
    </span><br/>
    <span>
      <strong>Unit Size: </strong>
      <%= @lead.preference.min_area %> - <%= @lead.preference.max_area %>
    </span><br/>
  </div>
  <div class="notes">
    <p class="lead_notes">
      <strong>Lead Notes: </strong>
      <span>
        <%= @lead.preference.notes %>
      </span>
    </p>
    <p class="lead_notes">
      <strong>Agent Notes: </strong>
      <span>
        <%= @lead.notes %>
      </span>
    </p>
  </div>
  <div class="scheduled_actions">
    <h2>Pending Tasks</h2>
    <% if @lead.scheduled_actions.incomplete.empty? %>
      <p>None</p>
    <% end %>
    <ul>
    <% @lead.scheduled_actions.incomplete.each do |scheduled_action| %>
      <li>
        <%= glyph(:pin) %>
        <%= short_datetime(scheduled_action.schedule.to_datetime) %>&mdash;
        <%= link_to(scheduled_action.description, completion_form_scheduled_action_path(scheduled_action)) %>&nbsp;
      </li>
    <% end %>
    </ul>
  </div>
  <div class="comments">

    <h2>Comments</h2>

    <div class="row">
      <div class="col-md-12">
        <%= render partial: "notes/lead_form", locals: {note: @lead.comments.build} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="comments">
          <%= render partial: "notes/note", collection: @lead.comments  %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Edit Lead', edit_lead_path(@lead) %> |
        <%= link_to 'Back', :back %>
      </div>
    </div>

  </div>
</div>
</div>
