<div class="container" id="lead_<%= @lead.id %>">
  <div class="row">
    <div class="col-md-6">
      <h1>Lead: <%= @lead.name %></h1>
      <p id="notice"><%= notice %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Edit', edit_lead_path(@lead) %> |
      <%= link_to 'Back', :back %>
    </div>
  </div>

  <h2>Lead Information</h2>

  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Priority:</strong>
        <%= @lead.priority.capitalize %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render partial: "state_toggle", locals: {lead: @lead} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Property:</strong><br/>
        <% if @lead.property.present? %>
          <%= link_to(@lead.property.name, property_path(@lead.property) ) %>
        <% else %>
          Unknown
        <% end %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Source:</strong><br/>
        <% if @lead.source.present? %>
          <%= link_to(@lead.source.name, lead_source_path(@lead.source) ) %>
        <% else %>
          Unknown
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <p>
        <strong>Title:</strong><br/>
        <%= @lead.title %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>First name:</strong><br/>
        <%= @lead.first_name %>
      </p>
    </div>

    <div class="col-md-4">
      <p>
        <strong>Last name:</strong><br/>
        <%= @lead.last_name %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Email:</strong><br/>
        <%= @lead.email %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p>
        <strong>Phone1:</strong><br/>
        <%= @lead.phone1 %>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <strong>Type:</strong><br/>
        <%= @lead.phone1_type %>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <strong>Best Time To Call:</strong><br/>
        <%= @lead.phone1_tod %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p>
        <strong>Phone2:</strong><br/>
        <%= @lead.phone2 %>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <strong>Type:</strong><br/>
        <%= @lead.phone2_type %>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <strong>Best Time To Call:</strong><br/>
        <%= @lead.phone2_tod %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Fax:</strong><br/>
        <%= @lead.fax %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>
        <strong>DOB:</strong>
        <%= @lead.dob ? @lead.dob.to_date : '' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p>
        <strong>DL/ID:</strong>
        <%= @lead.id_number %>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <strong>DL/ID State:</strong>
        <%= @lead.id_state %>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Referral:</strong><br/>
        <%= @lead.referral %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Agent Notes:</strong><br/>
        <%= @lead.notes %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>First Contact:</strong>
        <%= short_date @lead.first_comm %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Last Contact:</strong>
        <%= short_date @lead.last_comm %>
      </p>
    </div>
  </div>

  <% if @lead.preference.present? %>
    <h2>Preferences</h2>
    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Minimum sq. ft.</strong>
          <%= display_preference_option @lead.preference.min_area%>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Maximum sq. ft.</strong>
          <%= display_preference_option @lead.preference.max_area%>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Minimum Price $</strong>
          <%= display_preference_option @lead.preference.min_price %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Maximum Price $</strong>
          <%= display_preference_option @lead.preference.max_price %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Desired Move-In</strong>
          <%= display_preference_option(@lead.preference.move_in) %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Bedrooms</strong>
          <%= @lead.preference.beds || 'N/A' %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Bathrooms</strong>
          <%= @lead.preference.baths || 'N/A' %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Pets Allowed</strong>
          <%= display_preference_option(@lead.preference.pets) %>
        </p>
        <p>
          <strong>Smoking Allowed</strong>
          <%= display_preference_option(@lead.preference.smoker) %>
        </p>
        <p>
          <strong>Washer/Dryer Connection</strong>
          <%= display_preference_option(@lead.preference.washerdryer) %>
        </p>
        <p>
          <strong>Notes from Lead:</strong>
          <%= @lead.preference.notes %>
        </p>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <h2>No Preferences</h2>
      </div>
    </div>
  <% end %>

  <h2>Comments</h2>

  <div class="row">
    <div class="col-md-8">
      <%= render partial: "notes/form", locals: {note: @lead.comments.build} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div id="comments">
        <%= render partial: "notes/note", collection: @lead.comments  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Edit', edit_lead_path(@lead) %> |
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>


