<h1>
  Unclaimed Leads
  <span id="num-unclaimed-leads" class="italic">
    (<%= @dashboard_service.unclaimed_leads.count %>)
  </span>
</h1>

<div id="view-current-stats">
  <!--  [TODO] View Current Stats -->
</div>

<div class="row">
  <div class="col-xxl-9">
    <%= render partial: 'unclaimed_leads', locals: { leads: @dashboard_service.unclaimed_leads.limit(10)} %>
    <%= render partial: 'active_leads', locals: { service: @dashboard_service } %>
  </div>
  <div class="col-xxl-3">
    <%= render partial: 'motivational_icons', locals: { service: @dashboard_service } %>
    <%= render partial: 'my_tasks', locals: { service: @dashboard_service } %>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $('form.lead-assignment select.form-select').on('change', function(e){
      var submit_buttons = $(e.target.parentElement).find('input[type=submit]')
      if (e.target.selectedIndex > 0) {
        submit_buttons.show()
      } else {
        submit_buttons.hide()
      }
    })

    //hide the Active Leads default visible tab content on mobile
    if($("#ActiveLeadsTabs").css('display') == "none") {
        $("#upcoming-appointments").removeClass("show active");
        $("#my-leads").removeClass("show active");
        $("#all-leads").removeClass("show active");
        $("#stale").removeClass("show active");
    }

    //when the user makes a change to the ActiveLeadsDropdown (only visible on mobile))
    $("#ActiveLeadsDropdown").change(function() {

        //hide any visible tab content
        $("#upcoming-appointments").removeClass("show active");
        $("#my-leads").removeClass("show active");
        $("#all-leads").removeClass("show active");
        $("#stale").removeClass("show active");

        //show the appropriate tab content based on the dropdown selection
        var currentValue = $(this).val();
        $("#" + currentValue).addClass("show active");

    });
  })
</script>
