<tr id="unclaimed_lead_<%= lead.id %>">
  <td><%= glyph(:person) %></td>
  <td class="dashboard_item_date">
    <% if lead.open? && policy(lead).permitted_state_events.any? %>
      <p>
        <%= form_with(url: trigger_state_event_lead_path(id: lead.id, eventid: 'claim'), method: 'post', local: true ) do %>
          <%= submit_tag('Claim', class: "btn btn-sm btn-primary", id: "lead-claim-button")%>
        <% end %>
      </p>
      <!-- 
      <p>
        <%#= link_to(trigger_state_event_lead_path(id: lead.id, eventid: 'disqualify', format: :js),
                    { method: :post,
                      remote: true,
                      class: "btn btn-xs btn-warning",
                      data: {confirm: "Are you sure you want to disqualify this lead?"} } ) do %>
                      Disqualify
                    <%# end %>
                  </p>

                  -->
    <% end %>
    <%= duplicate_reference_link(lead) %>
  </td>
  <td>
    <%= render partial: "leads/lead_card", locals: {lead: lead} %>
  </td>
  <td class="nowrap">
    <%= model_link_with_tooltip(lead, :show) %>&nbsp;
    <%= model_link_with_tooltip(lead, :edit) %>&nbsp;
  </td>
</tr>

