<div class="section section--property-leads" id="dashboard_my_leads">
  <div class="section-header">
    <div class="section-header__content">
      <div class="section-header__icon">
        <%= glyph(:person) %>
      </div>
      <h3 class="section-header__title">
        Property Leads
      </h3>
    </div>
  </div>
  
  <% if current_user.property.present? %>
    <div class="section__stats">
      <div class="section__stats-item">
        <span class="section__stats-value">
          <%= current_user.property.leads.early_pipeline.count %> Active Leads
        </span>
      </div>
      <div class="section__stats-actions">
        <%= link_to("More...", search_leads_path({lead_search: {property_ids: [current_user.property.id], states: %w{open prospect showing application} }}), class: "btn btn--xs btn--primary") %>
        <%= link_to("Duplicates", duplicate_leads_property_path(id: current_user.property), class: "btn btn--xs btn--primary") %>
      </div>
    </div>
  <% end %>
  
  <div class="section__content">
    <% if current_user.property.present? && current_user.property.leads.in_progress.high_priority.any? %>
      <table class="data-table">
        <tbody class="data-table__body">
          <% current_user.property.leads.in_progress.high_priority.each do |lead| %>
            <tr>
              <td width="70%">
                <span class="lead-row__name"> <%= link_to(lead.name, lead_path(lead)) %> </span>
                <% if lead.property.present? %>
                  for <span class="u-text--nowrap"><%= link_to(lead.property.name, property_path(lead.property)) %></span>
                <% end %>
                <%= render partial: "leads/contact_mini_card", locals: {lead: lead} %>
              </td>
              <td>
                <%= lead_state_label(lead) %>
                <%= lead_priority_icon(lead) %>
                <br>
                <%= glyph(:question_sign) %> <%= short_datetime(lead.first_comm) %>
                <br>
                <%= glyph(:comment) %> <%= short_datetime(lead.last_comm) %>
                <br>
                <%= glyph(:task) %> <%= link_to(lead.scheduled_actions.incomplete.count, lead_path(id: lead.id, anchor: 'scheduled_actions'), class: "badge badge--primary") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="empty-state empty-state--compact">
        <div class="empty-state__icon">
          <%= glyph(:person) %>
        </div>
        <% if current_user.property.present? %>
          <p class="empty-state__text">No high priority leads</p>
          <p class="empty-state__text empty-state__text--sm text-muted">High priority leads will appear here</p>
        <% else %>
          <p class="empty-state__text">No property assigned</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
