<div class="section section--my-leads" id="dashboard_my_leads">
  <% active_lead_count = current_user.leads.early_pipeline.count %>
  
  <div class="section-header">
    <div class="section-header__content">
      <div class="section-header__icon">
        <%= glyph(:user) %>
      </div>
      <h3 class="section-header__title">
        My Leads
        <% if active_lead_count > 0 %>
          <span class="section-header__count"><%= active_lead_count %></span>
        <% end %>
      </h3>
      <% if active_lead_count > 0 %>
        <div class="section-header__actions">
          <%= link_to("More...", search_leads_path({lead_search: {user_ids: [current_user.id], states: %w{open prospect showing application} }}), class: "btn btn--primary btn--small") %>
          <% unless Flipflop.enabled?(:design_v1) %>
            <%= link_to('New Walk-In', custom_new_leads_path(entry: 'walkin'), {class: 'btn btn--info btn--small'}) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="section__content">
    <% if active_lead_count > 0 %>
      <div class="lead-list">
        <% @my_leads.limit(20).each do |lead| %>
          <%= render partial: "leads/lead_card", locals: {lead: lead} %>
        <% end %>
      </div>
    <% else %>
      <div class="section__content section__content--empty">
        <div class="empty-state__icon">
          <%= glyph(:user) %>
        </div>
        <p>No active leads</p>
        <% unless Flipflop.enabled?(:design_v1) %>
          <%= link_to('Create New Walk-In', custom_new_leads_path(entry: 'walkin'), {class: 'btn btn--primary btn--small'}) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
