<div class="row" id="dashboard_my_leads">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h3>
          <%= glyph(:person) %>
          My Leads
        </h3>
      </div>
      <div class="col-md-3" style="padding-top: 22px;">
        <%= link_to("More...", search_leads_path({lead_search: {user_ids: [current_user.id], states: %w{open prospect showing application} }}), class: "btn btn-xs btn-primary") %>
      </div>
      <div class="col-md-3" style="padding-top: 22px;">
        <%= link_to("Create a Lead", new_lead_path, {class: "btn btn-xs btn-primary"}) %>
      </div>
    </div>
    <table class="table lead_listing">
      <thead></thead>
      <tbody>
        <% @my_leads.each do |lead| %>
          <tr>
            <td>
              <span class="lead"> <%= link_to(lead.name, lead_path(lead)) %> </span>
              <% if lead.property.present? %>
                for <span class="text-nowrap"><%= link_to(lead.property.name, property_path(lead.property)) %></span>
              <% end %>
              <%= render partial: "leads/contact_mini_card", locals: {lead: lead} %>
            </td>
            <td>
              <%= lead_state_label(lead) %>
              <%= lead_priority_icon(lead) %>
              <br>
              <%= glyph(:question_sign) %> <%= short_datetime(lead.first_comm) %>
              <br>
              <%= glyph(:comment) %> <%= short_datetime(lead.last_comm) %>
              <br>
              <%= glyph(:task) %> <%= link_to(lead.scheduled_actions.incomplete.count, lead_path(id: lead.id, anchor: 'scheduled_actions'), class: "badge") %></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
