<div id="dashboard_today" class="row">
  <div class="col-md-12">

    <!-- Header -->
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <h3>
          <%= glyph(:task) %>
          Today
        </h3>
      </div>
      <div class="col-xs-6 col-md-6">
        <!-- Calendar and Task buttons removed - available in sidebar -->
      </div>
    </div>
    <!-- End Header -->

    <div class="row">
      <div class="col-md-12">
        <div class="leads-header">
          <span class="text-nowrap lead">
            <% lead_text = @open_leads.count == 1 ? "Lead" : "Leads" %>
            <% if @limit_leads != @open_leads.count %>
              <%= @limit_leads %> of
              <%= @open_leads.count %> Open <%= lead_text %>
            <% else %>
              <%= @open_leads.count %> Open <%= lead_text %>
            <% end %>
          </span>
          <% if @open_leads.count > 0 && policy(Lead).mass_assignment? %>
            <%= tooltip_block('leads-mass-assign-link') do %>
              <%= link_to("Assign...", mass_assignment_leads_path, class: "btn btn-xs btn-primary") %>
            <% end %>
          <% end %>
          <% if @limit_leads != @open_leads.count %>
            <%= link_to("Show All", search_leads_path(lead_search: {states: ['open']}), class: "btn btn-xs btn-primary") %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table lead_listing" id="unclaimed_lead_listing">
          <thead></thead>
          <tbody>
            <!-- Unclaimed Leads -->
            <%= render collection: @open_leads.limit(@limit_leads), partial: 'lead' %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row tasks-section">
      <div class="col-md-12">
        <span class="text-nowrap lead">
          <%= @today_actions.any? ? @today_actions.count : 'No' %> Tasks Due Today
        </span>
        <table class="table">
          <thead></thead>
          <tbody>
            <%= render collection: @today_actions.limit(20), partial: 'scheduled_action' %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
