<div id="dashboard_today" class="row">
  <div class="col-md-12">

    <!-- Header -->
    <div class="row">
      <div class="col-md-4">
        <h3>
          <%= glyph(:task) %>
          Today
        </h3>
      </div>
      <div class="col-md-3" style="padding-top: 22px;">
        <%= link_to("View Calendar", scheduled_actions_path, {class: "btn btn-xs btn-primary"})  %>
      </div>
      <div class="col-md-3" style="padding-top: 22px;">
        <%= link_to("Schedule a Task", new_scheduled_action_path, {class: "btn btn-xs btn-primary"}) %>
      </div>
    </div>
    <!-- End Header -->

    <!-- Listing -->
    <div class="row">
      <div class="col-md-12">
        <table class="table lead_listing">
          <thead></thead>
          <tbody>

            <!-- Unclaimed Leads -->
            <tr>
              <td colspan="4">
                <span class="text-nowrap lead">
                  <% if @limit_leads != @unclaimed_leads.count %>
                    <%= @limit_leads %> of
                    <%= @unclaimed_leads.count %> Unclaimed Leads
                    <span>
                      <%= link_to("Show All", root_path(limit_leads: 999), class: "btn btn-xs btn-primary") %>
                    </span>
                  <% else %>
                    <%= @unclaimed_leads.count %> Unclaimed Leads
                  <% end %>
                </span>
              </td>
            </tr>
            <%= render collection: @unclaimed_leads.limit(@limit_leads), partial: 'lead' %>

            <!-- ScheduledActions for today -->
            <tr>
              <td colspan="4">
                <span class="text-nowrap lead">
                  <%= @today_actions.count %> Tasks Due Today
                </span>
              </td>
            </tr>
            <%= render collection: @today_actions, partial: 'scheduled_action' %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Listing -->

  </div>
</div>
