<div class="section section--waitlist" id="dashboard_waitlist">
  <% if current_user.property.present? %>
    <% waitlist_lead_count = current_user.leads.waitlist.count %>
    
    <div class="section-header">
      <div class="section-header__content">
        <div class="section-header__icon">
          <%= glyph(:hourglass) %>
        </div>
        <h3 class="section-header__title">
          Lead Wait List
          <% if waitlist_lead_count > 0 %>
            <span class="section-header__count"><%= waitlist_lead_count %></span>
          <% end %>
        </h3>
      </div>
    </div>
    
    <div class="section__content">
      
      <% if waitlist_lead_count > 0 %>
        <div class="lead-list">
          <% current_user.leads.waitlist.each do |lead| %>
            <%= render partial: "leads/lead_card", locals: {lead: lead, waitlist_note: "Waiting for #{lead.preference&.unit_type&.name || 'vacancy'}" } %>
          <% end %>
        </div>
      <% else %>
        <div class="empty-state empty-state--compact">
          <div class="empty-state__icon">
            <%= glyph(:hourglass) %>
          </div>
          <p class="empty-state__text">No leads are currently on the waitlist</p>
        </div>
      <% end %>
  <% else %>
    <div class="section-header">
      <div class="section-header__content">
        <div class="section-header__icon">
          <%= glyph(:hourglass) %>
        </div>
        <h3 class="section-header__title">Lead Wait List</h3>
      </div>
    </div>
    
    <div class="section__content">
      <div class="empty-state empty-state--compact">
        <div class="empty-state__icon">
          <%= glyph(:home) %>
        </div>
        <p class="empty-state__text">No property assigned</p>
      </div>
    </div>
  <% end %>
</div>
