<div class="row" id="dashboard_waitlist">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h3>
          <%= glyph(:person) %>
          Lead Wait List
        </h3>
      </div>
    </div>
    <% if current_user.property.present? %>
    <div class="row">
      <div class="col-md-6">
        <span class="lead">
          <%= current_user.property.leads.waitlist.count %> Waitlisted Leads
        </span>
      </div>
      <div class="col-md-3">
        <%= link_to("More...", search_leads_path({lead_search: {property_ids: [current_user.property.id], states: %w{waitlist} }}), class: "btn btn-xs btn-primary") %>
      </div>
    </div>
    <% end %>
    <table class="table lead_listing">
      <thead></thead>
      <tbody>
        <% if current_user.property.present? %>
          <% current_user.property.leads.waitlist.each do |lead| %>
            <tr>
              <td width="70%">
                <span class="lead"> <%= link_to(lead.name, lead_path(lead)) %> </span>
                <% if lead.property.present? %>
                  for <span class="text-nowrap"><%= link_to(lead.property.name, property_path(lead.property)) %></span>
                <% end %>
                <p>
                  <i>Waiting for vacancy in <%= lead.preference&.unit_type&.name || 'None' %> </i>
                </p>
                <%= render partial: "leads/contact_mini_card", locals: {lead: lead} %>
              </td>
              <td>
                <%= lead_state_label(lead) %>
                <%= lead_priority_icon(lead) %>
                <br>
                <%= glyph(:question_sign) %> <%= short_datetime(lead.first_comm) %>
                <br>
                <%= glyph(:comment) %> <%= short_datetime(lead.last_comm) %>
                <br>
                <%= glyph(:task) %> <%= link_to(lead.scheduled_actions.incomplete.count, lead_path(id: lead.id, anchor: 'scheduled_actions'), class: "badge") %></a>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>
              <p class="lead">None</p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
