<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>Druid Dashboard</h1>
      <p class="lead">
        Welcome to the Druid Dashboard. Stuff will be here later!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Today</h2>
      <table class="table">
        <thead></thead>
        <tbody>
          <tr>
            <% lead = Lead.open.offset(rand(Lead.open.count)).first %>
            <td><%= glyph(:person) %></td>
            <td>Now</td>
            <td>Unclaimed Lead: <%= link_to(lead.name, lead_path(lead))%></td>
          </tr>
          <tr>
            <% lead = Lead.open.offset(rand(Lead.open.count)).first %>
            <td><%= glyph(:person) %></td>
            <td>Now</td>
            <td>Unclaimed Lead: <%= link_to(lead.name, lead_path(lead))%></td>
          </tr>
          <tr>
            <% lead = Lead.open.offset(rand(Lead.open.count)).first %>
            <td><%= glyph(:pin) %></td>
            <td>Today</td>
            <td>Contact via email <%= link_to(lead.name, lead_path(lead)) %> </td>
          </tr>
          <tr>
            <% lead = Lead.claimed.offset(rand(Lead.open.count)).first %>
            <td><%= glyph(:pin) %></td>
            <td>10:00AM</td>
            <td>Tour <%= link_to(lead.name, lead_path(lead)) %> </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  <div class="col-md-6">
    <h2></h2>
  </div>
</div>
