<div class="container">
  <!--
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="lead">
        Dashboard
      </p>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h3>Today</h3>
            </div>
            <div class="col-md-2" style="padding-top: 20px;">
              <%= link_to("Calendar", scheduled_actions_path, {class: "btn btn-xs btn-success"})  %>
            </div>
            <div class="col-md-4 text-right" style="padding-top: 20px;">
              <%= link_to("Schedule Event/TODO", new_scheduled_action_path, {class: "btn btn-xs btn-success"}) %>
            </div>
          </div>
          <table class="table">
            <thead></thead>
            <tbody>
              <% @unclaimed_leads.each do |lead| %>
                <tr>
                  <td><%= glyph(:person) %></td>
                  <td>Now</td>
                  <td>Unclaimed Lead: <span class="nowrap"><%= link_to(lead.name, lead_path(lead)) rescue ''%></span></td>
                  <td class="nowrap">
                    <%= link_to(glyph(:show), lead_path(lead)) %>
                    <!-- <%= link_to(glyph(:edit), edit_lead_path(lead)) %> -->
                  </td>
                </tr>
              <% end %>
              <% @today_actions.each do |scheduled_action| %>
                <tr>
                  <td><%= glyph(:pin) %></td>
                  <td><%= short_time(scheduled_action.schedule.to_datetime) %></td>
                  <td><%= scheduled_action.description %>:
                    <span class="nowrap"><%= link_to(scheduled_action.target.name, url_for(scheduled_action.target)) rescue '' %></span></td>
                  <td>
                    <%= link_to(glyph(:show), completion_form_scheduled_action_path(scheduled_action)) %>&nbsp;
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h3>Upcoming</h3>
            </div>
          </div>
          <table class="table">
            <thead></thead>
            <tbody>
              <% @upcoming_actions.each do |scheduled_action| %>
                <tr>
                  <td><%= glyph(:pin) %></td>
                  <td><%= short_datetime(scheduled_action.schedule.to_datetime) %></td>
                  <td><%= scheduled_action.description %>: <%= link_to(scheduled_action.target.name, url_for(scheduled_action.target)) rescue '' %> </td>
                  <td>
                    <%= link_to(glyph(:show), completion_form_scheduled_action_path(scheduled_action)) %>&nbsp;
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h3>My Leads</h3>
            </div>
            <div class="col-md-6 text-right" style="padding-top: 20px;">
              <%= link_to("Create Lead", new_lead_path, {class: "btn btn-xs btn-success"}) %>
            </div>
          </div>
          <table class="table">
            <tbody>
              <% @my_leads.each do |lead| %>
                <tr>
                  <td>
                    <strong><%= link_to(lead.name, lead_path(lead)) %></strong><br/>
                    <strong>Phone: </strong> <%= [lead.phone1, lead.phone2].compact.first %><br/>
                    <strong>Email: </strong> <%= lead.email %>
                  </td>
                  <td>
                    <%= lead.priority.capitalize %> -
                    <%= lead.state.capitalize %><br/>
                    <strong>First Contact: </strong> <%= short_date(lead.first_comm) %><br/>
                    <strong>Last Contact: </strong> <%= short_date(lead.last_comm) %><br/>
                    <strong>Pending Tasks/Events: </strong> <a href="#">3</a>
                  </td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h3>Stats</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <tbody>
                <tr>
                  <td><strong>My Leads</strong></td>
                  <td>
                    <ul>
                      <li>in Pipeline:  <%= current_user.leads.active.count %></li>
                      <li>Conversion Rate: XX%</li>
                      <li>Closed This Week:  XXX </li>
                      <li>Closed This Month:  XXX </li>
                      <li>Closed This Year:  XXX </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
<div class="row">
</div>
<div class="col-md-6">
  <h2></h2>
</div>
</div>
