<div class="row">
  <div class="col-md-12">
    <h2>Update your Messaging Preferences</h2>
  </div>
</div>

<% if @lead.present? %>
  <div class="row">
    <div class="col-md-12">
      <%= form_tag(messaging_unsubscribe_path) %>
      <%= hidden_field_tag :lead_id, params[:id] %>

      <div class="row form-group">
        <div class="col-md-4">
          <%= label_tag :lead_email, 'Email Address' %>
          <%= text_field_tag :lead_email, @lead.email, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= check_box_tag :lead_email_optout, "true", @lead.optout_email? %>
          <%= label_tag :lead_email_optout, 'I do not want to be sent Email messages' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= check_box_tag :lead_sms_optout, "true", @lead.optout_sms? %>
          <%= label_tag :lead_sms_optout, 'I do not want to be sent SMS messages' %>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
<% else %>
  <h2>Sorry! We could not find your record.</h2>
<% end %>
