<%= form_with(model: unit_type, local: true) do |form| %>
  <% if unit_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit_type.errors.count, "error") %> prohibited this unit_type from being saved:</h2>

      <ul>
        <% unit_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 form-group">
      <%= form.label :property %>
      <%= form.select :property_id, select_property(unit_type.property_id), {include_blank: true}, {class: "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :unit_type_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 form-group">
      <%= form.label :description %>
      <%= form.text_area :description, id: :unit_type_description, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 form-group">
      <%= form.label :sqft, "Square Feet" %>
      <%= form.number_field :sqft, class: "form-control" %>
    </div>
    <div class="col-md-2 form-group">
      <%= form.label :bedrooms %>
      <%= form.number_field :bedrooms, class: "form-control" %>
    </div>
    <div class="col-md-2 form-group">
      <%= form.label :bathrooms %>
      <%= form.number_field :bathrooms, class: "form-control" %>
    </div>
    <div class="col-md-2 form-group">
      <%= form.label :market_rent %>
      <%= form.number_field :market_rent, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
