<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if @property.present? %>
        <h2><%= @property.name %></h2>
      <% end %>
      <h1>Unit Types</h1>
    </div>
    <% if policy(UnitType).new? %>
      <div class="col-md-6 text-right">
        <%= glyph(:create) %>
        <% if @property.present? %>
          <%= link_to 'Create New Unit Type', new_property_unit_type_path(@property) %>
        <% else %>
          <%= link_to 'Create New Unit Type', new_unit_type_path %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Property</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @unit_types.each do |unit_type| %>
            <tr>
              <td><%= link_to(unit_type.property_name, property_path(unit_type.property)) || 'None' %></td>
              <td class="first-column"><%= unit_type.name %></td>
              <td>
                <%= unit_type.size_summary %><br/>
                <%= unit_type.description %>
              </td>
              <td>
                <%= link_to property_unit_type_path(unit_type.property, unit_type) do %><%= glyph(:show) %><% end %>&nbsp;
                <%= link_to edit_property_unit_type_path(unit_type.property, unit_type) do %><%= glyph(:edit) %><% end %>&nbsp;
                <%= link_to unit_type, method: :delete, data: { confirm: 'Are you sure?' } do %><%= glyph(:delete) %><% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <% if policy(UnitType).new? %>
      <div class="col-md-12 text-right">
        <%= glyph(:create) %>
        <% if @property.present? %>
          <%= link_to 'Create New Unit Type', new_property_unit_type_path(@property) %>
        <% else %>
          <%= link_to 'Create New Unit Type', new_unit_type_path %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
