<section class="section">
<div class="row">
  <div class="col-md-6">
    <% if @property.present? %>
      <h2><%= @property.name %></h2>
    <% end %>
    <h1>Unit Types</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table" data-clickable-rows="true">
      <thead>
        <tr>
          <th>Property</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @unit_types.each do |unit_type| %>
          <tr>
            <td><%= link_to(unit_type.property_name, property_path(unit_type.property)) || 'None' %></td>
            <td class="first-column"><%= unit_type.name %></td>
            <td>
              <%= unit_type.size_summary %><br/>
              <%= unit_type.description %>
            </td>
            <td class="actions">
              <%= link_to property_unit_type_path(unit_type.property, unit_type), class: "btn btn--icon btn--xs btn--ghost", title: "View" do %><%= glyph(:show) %><% end if policy(unit_type).show? %>
              <%= link_to edit_property_unit_type_path(unit_type.property, unit_type), class: "btn btn--icon btn--xs btn--primary", title: "Edit" do %><%= glyph(:pencil) %><% end if policy(unit_type).edit? %>
              <%= link_to unit_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn--icon btn--xs btn--danger", title: "Delete" do %><%= glyph(:delete) %><% end if policy(unit_type).destroy? %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
</section>