<div class="container">
  <div classs="row">
    <div class="col-md-6">
      <h1>Unit Types</h1>
    </div>
    <% if policy(UnitType).new? %>
      <div class="col-md-6 text-right">
        <%= glyph(:create) %>
        <%= link_to 'Create New Unit Type', new_unit_type_path %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Property</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @unit_types.each do |unit_type| %>
            <tr>
              <td><%= unit_type.property.try(:name) || 'None' %></td>
              <td class="first-column"><%= unit_type.name %></td>
              <td><%= unit_type.description %></td>
              <td>
                <%= link_to 'Show', unit_type %> |
                <%= link_to 'Edit', edit_unit_type_path(unit_type) %> |
                <%= link_to 'Destroy', unit_type, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div classs="row">
    <% if policy(UnitType).new? %>
      <div class="col-md-12 text-right">
        <%= glyph(:create) %>
        <%= link_to 'Create New Unit Type', new_unit_type_path %>
      </div>
    <% end %>
  </div>
</div>
