<%= form.fields_for :detail do  |detail_form| %>
  <%= detail_form.hidden_field :id %>
  <div class="fieldset-content">
    <fieldset>
      <legend>Details</legend>

      <div class="row">
        <div class="col-md-3 form__group">
          <%= detail_form.label :phone1, class: 'form__label' %>
          <%= detail_form.text_field :phone1, class: "form__control" %>
        </div>
        <div class="col-md-3 form__group">
          <%= detail_form.label :phone1_type, class: 'form__label' %>
          <%= detail_form.select :phone1_type, options_for_select(ResidentDetail::PHONE_TYPES), {include_blank: true}, { class: "form__control" } %>
        </div>
        <div class="col-md-3 form__group">
          <%= detail_form.label :phone1_tod, "Best Time to Call", class: 'form__label' %>
          <%= detail_form.select :phone1_tod, options_for_select(ResidentDetail::PHONE_TOD), {include_blank: true}, { class: "form__control" } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 form__group">
          <%= detail_form.label :phone2, class: 'form__label' %>
          <%= detail_form.text_field :phone2, class: "form__control" %>
        </div>
        <div class="col-md-3 form__group">
          <%= detail_form.label :phone2_type, class: 'form__label' %>
          <%= detail_form.select :phone2_type, options_for_select(ResidentDetail::PHONE_TYPES), {include_blank: true}, { class: "form__control" } %>
        </div>
        <div class="col-md-3 form__group">
          <%= detail_form.label :phone2_tod, "Best Time to Call", class: 'form__label' %>
          <%= detail_form.select :phone2_tod, options_for_select(ResidentDetail::PHONE_TOD), {include_blank: true}, { class: "form__control" } %>
        </div>
      </div>

      <div class="row">
        <div class="form__group col-md-6">
          <%= detail_form.label :email, class: 'form__label' %>
          <%= detail_form.text_field :email, {class: "form__control"} %>
        </div>
      </div>

      <div class="row">
        <div class="form__group col-md-6">
          <%= detail_form.label :ssn, "SSN", class: 'form__label' %>
          <%= detail_form.text_field :ssn, {class: "form__control"} %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 form__group">
          <%= detail_form.label :id_number, "DL/ID Number", class: 'form__label' %>
          <%= detail_form.text_field :id_number, class: "form__control" %>
        </div>
        <div class="col-md-2 form__group">
          <%= detail_form.label :id_state, "DL/ID State", class: 'form__label' %>
          <%= detail_form.select :id_state, options_for_select(US_STATES), {include_blank: true}, { class: "form__control" } %>
        </div>
      </div>

    </fieldset>
  </div>
<% end %>