<p id="notice"><%= notice %></p>

<h1>Residents</h1>

<table>
  <thead>
    <tr>
      <th>Lead</th>
      <th>Property</th>
      <th>Unit</th>
      <th>Residentid</th>
      <th>Status</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.lead_id %></td>
        <td><%= resident.property_id %></td>
        <td><%= resident.unit_id %></td>
        <td><%= resident.residentid %></td>
        <td><%= resident.status %></td>
        <td><%= resident.first_name %></td>
        <td><%= resident.middle_name %></td>
        <td><%= resident.last_name %></td>
        <td><%= resident.address1 %></td>
        <td><%= resident.address2 %></td>
        <td><%= resident.city %></td>
        <td><%= resident.state %></td>
        <td><%= resident.zip %></td>
        <td><%= resident.country %></td>
        <td><%= link_to 'Show', resident %></td>
        <td><%= link_to 'Edit', edit_resident_path(resident) %></td>
        <td><%= link_to 'Destroy', resident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resident', new_resident_path %>
