<section class="section">
<div class="row">
  <div class="col-md-6">
    <% if @property.present? %>
      <h2><%= @property.name %></h2>
    <% end %>
    <h1>Residents</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table id="residents-table" class="table" data-clickable-rows="true">
        <thead>
          <tr>
            <th>Resident ID</th>
            <th>Status</th>
            <th>Name</th>
            <th>Property</th>
            <th>Unit</th>
            <th>Contact</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
      <tbody>
        <% @residents.each do |resident| %>
          <tr>
            <td><%= resident.residentid %></td>
            <td><%= resident.status.try(:capitalize) %></td>
            <td><%= link_to(resident.name, property_resident_path(resident.property, resident)) %></td>
            <td><%= link_to(resident.property.name, property_path(resident.property)) %></td>
            <td><%= link_to(resident.unit.unit, property_unit_path(resident.property, resident.unit)) %></td>
            <td>
              <p>
                <% if resident.detail.phone1.present? %>
                  <span><%= glyph(:phone) %> <%= resident.detail.phone1 %></span><br/>
                <% end %>
                <% if resident.detail.phone2.present? %>
                  <span><%= glyph(:phone) %> <%= resident.detail.phone2 %></span><br/>
                <% end %>
                <% if resident.detail.email.present? %>
                  <span><%= glyph(:email) %> <%= resident.detail.email %></span>
                <% end %>
              </p>
            </td>
            <td class="actions">
              <%= link_to property_resident_path(resident.property, resident), class: "btn btn--icon btn--xs btn--ghost", title: "View" do %><%= glyph(:show) %><% end %>
              <%= link_to edit_property_resident_path(resident.property, resident), class: "btn btn--icon btn--xs btn--primary", title: "Edit" do %><%= glyph(:pencil) %><% end %>
              <%= link_to resident, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn--icon btn--xs btn--danger", title: "Delete" do %><%= glyph(:delete) %><% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
</section>