<div class="row">
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-6">
        <h1>Resident</h1>
        <h2><%= @resident.name %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Resident ID: </strong>
          <%= @resident.residentid %>
        </p>
        <% if @resident.lead.present? %>
          <p>
            <strong>Lead: </strong>
            <%= link_to(@resident.name, lead_path(id: @resident.lead.id)) %>
          </p>
        <% end %>
        <p>
          <strong>Status: </strong>
          <%= @resident.status.try(:capitalize) %>
        </p>
        <p>
          <strong>Property: </strong>
          <%= @resident.property.name %>
        </p>
        <p>
          <strong>Unit: </strong>
          <%= @resident.unit.unit %>
        </p>
       </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong>Title: </strong>
        <%= @resident.title %>
      </div>
      <div class="col-md-3">
        <strong>First Name: </strong>
        <%= @resident.first_name %>
      </div>
      <div class="col-md-3">
        <strong>Middle Name: </strong>
        <%= @resident.middle_name %>
      </div>
      <div class="col-md-3">
        <strong>Last Name: </strong>
        <%= @resident.last_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <strong>Address1: </strong>
        <%= @resident.address1 %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <strong>Address2: </strong>
        <%= @resident.address2 %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <strong>City: </strong>
        <%= @resident.city %>
      </div>
      <div class="col-md-2">
        <strong>State: </strong>
        <%= @resident.state %>
      </div>
      <div class="col-md-2">
        <strong>Zip: </strong>
        <%= @resident.zip %>
      </div>
      <div class="col-md-2">
        <strong>Country: </strong>
        <%= @resident.country %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Phone 1: </strong>
        <%= @resident.detail&.phone1 %>
      </div>
      <div class="col-md-3">
        <strong>Type: </strong>
        <%= @resident.detail&.phone1_type || '-' %>
      </div>
      <div class="col-md-4">
        <strong>Best Time to Call: </strong>
        <%= @resident.detail&.phone1_tod || '-' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Phone 2: </strong>
        <%= @resident.detail&.phone2 %>
      </div>
      <div class="col-md-3">
        <strong>Type: </strong>
        <%= @resident.detail&.phone2_type || '-' %>
      </div>
      <div class="col-md-4">
        <strong>Best Time to Call: </strong>
        <%= @resident.detail&.phone2_tod || '-' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <strong>Email: </strong>
        <%= @resident.detail&.email %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <strong>SSN: </strong>
        <%= @resident.detail&.ssn %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <strong>ID/DL Number: </strong>
        <%= @resident.detail&.id_number %>
      </div>
      <div class="col-md-3">
        <strong>ID State:</strong>
        <%= @resident.detail&.id_state %>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Referrals</h3>
  </div>

  <% if @resident.lead_referrals.any? %>
    <ul>
      <% @resident.lead_referrals.order(created_at: :desc).each do |referral| %>
        <li>
          <span>
            Referred <%= link_to(referral.lead.name, referral.lead) %> to <%= referral.lead.property&.name || 'Unknown' %> on <%= long_date referral.created_at %>
          <br/>
          </span>
          <span class="small">
            <%= referral.note %>
          </span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>None</p>
  <% end %>

</div>

<div class="row">
  <div class="col-md-4">
    <%= link_to 'Edit', edit_property_resident_path(@resident.property, @resident), class: "btn btn--primary" %>
    <%= link_to 'Back', property_residents_path(@resident.property), class: "btn btn--default" %>
  </div>
</div>
