<%= form_with(model: role, local: true) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldset-content">
    <fieldset>
      <legend>Role Information</legend>
      <div class="row">
        <div class="col-md-8 form-group">
          <%= form.label :name, class: 'form-label' %>
          <%= form.text_field :name, id: :role_name, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 form-group">
          <%= form.label :slug, class: 'form-label' %>
          <%= form.text_field :slug, id: :role_slug, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 form-group">
          <%= form.label :description, class: 'form-label' %>
          <%= form.text_area :description, id: :role_description, class: "form-control" %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn--primary">Save</button>
  </div>
<% end %>
