<section class="section">
<div class="row">
  <div class="col-md-6">
    <h1>Roles</h1>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to 'Create New Role', new_role_path, class: "btn btn--small btn--primary" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table" data-clickable-rows="true">
      <thead>
        <tr>
          <th>Name</th>
          <th>Slug</th>
          <th>Description</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><strong><%= role.name %></strong></td>
            <td><%= role.slug %></td>
            <td><%= role.description %></td>
            <td class="actions">
              <%= model_link_with_tooltip(role, :show) %>
              <%= model_link_with_tooltip(role, :edit) %>
              <%= model_link_with_tooltip(role, :destroy) %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
</section>