<div class="<%= scheduled_action_calendar_entry_class(scheduled_action) %>">
  <%= link_to completion_form_scheduled_action_path(scheduled_action), title: scheduled_action.description do %>
    <%= scheduled_action_completion_state_icon(scheduled_action) %>
    <span>
      <%= short_time scheduled_action.schedule.to_datetime %>
    </span>
    <% if scheduled_action.user_id != current_user.id %>
      <span>
        for <%= scheduled_action.user&.name || '(System)' %>:
      </span><br/>
    <% end %>
    <span>
      <%= scheduled_action.lead_action&.name %><br/>
    </span>
    <span class="scheduled_action_calendar_scheduled_action_subject">
      <%= scheduled_action.target_subject(current_user) %>
    </span>
  <% end %>
</div>
