<%= form_for(@scheduled_action, url: complete_scheduled_action_path(@scheduled_action), method: :post ) do |form| %>
  <div class="fieldset_content">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 form-group">
            <%= form.label :completion_action, "Mark Task as Completed" %>
            <%= form.select(:completion_action, select_scheduled_action_action(@scheduled_action), {prompt: '-Please Select-'}, class: "form-control") %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <%= form.label :completion_message, "Memo" %>
            <%= form.text_area :completion_message, class: "form-control", rows: 5 %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

<% end %>
