<%= form_with(model: scheduled_action, id: 'scheduled_action_form', local: true) do |form| %>
  <% if scheduled_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scheduled_action.errors.count, "error") %> prohibited this scheduled_action from being saved:</h2>

      <ul>
        <% scheduled_action.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :id, id: 'scheduled_action_id' %>
  <%= form.hidden_field :target_id, id: 'scheduled_action_target_id' %>
  <%= form.hidden_field :target_type, id: 'scheduled_action_target_type' %>

  <div class="row">
    <div class="col-md-6">
      <strong>Subject</strong><br/>
      <p class="lead">
        <% if scheduled_action.target.present? %>
          <%= scheduled_action.target.name %> <i>(<%= scheduled_action.target_type.humanize %>)</i>
        <% else %>
          Personal Task
        <% end %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= form.label :user_id, 'Task Owner' %>
      <%= form.select :user_id, scheduled_action_user_id_select_options(scheduled_action, current_user), {include_blank: false}, {id: :scheduled_action_user_id, class: 'form-control'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= form.label :lead_action_id, "Action" %>
      <%= form.select :lead_action_id, select_action(scheduled_action.lead_action_id, state: ( scheduled_action.target&.state rescue nil )), {include_blank: true},{id: :scheduled_action_lead_action_id, class: "form-control"} %>
      <div id="scheduled_action_article">
        <%= scheduled_action_article_select(scheduled_action: scheduled_action, action: scheduled_action.lead_action) if scheduled_action.lead_action.present? %>
      </div>
    </div>
    <% if @current_user.setting_enabled?(:select_task_reason) %>
      <div class="col-md-4 form-group">
        <%= form.label :reason_id, "Reason" %>
        <%= form.select :reason_id, select_reason(scheduled_action.reason_id),{include_blank: true},{id: :scheduled_action_reason, class: "form-control"} %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="scheduled_action_schedule_selection">
        <%= form.label :schedule %>
        <span id="schedule_conflict_message">Conflict</span>
        <%= form.schedule_select :schedule, style: :bootstrap, until: true, input_types: {date: :date_picker, time: :time_picker, datetime: :datetime_picker} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <div>
        <%= form.label :schedule_duration, "Duration" %>
        <%= select_tag "scheduled_action_schedule_duration", scheduled_action_schedule_durations(@scheduled_action.schedule), {name: "scheduled_action[schedule_attributes][duration]", class: "form-control"} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <%= form.label :description %>
      <%= form.text_area :description, id: :scheduled_action_description, class: 'form-control', rows: 5%>
    </div>
  </div>
  <fieldset id="scheduled_action_form_notification_controls" style="display: <%= @scheduled_action.wants_notification? ? 'block' : 'none' %>">
    <legend>Notification</legend>
    <div class="row">
      <div class="form-group col-md-4">
        <div>
          <%= form.check_box :notify, class: 'form-check-input', id: "scheduled_action_notify" %>
          <%= form.label :notify, "Send Email/SMS Reminder to Lead" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <%= form.label 'Use Template' %>
        <span class="btn btn-xs btn-info" id="scheduled_action_load_notification_template">Load</span>
        <%= select_tag('scheduled_action_message_template_id',
                       message_template_options(MessageType.email, nil),
                       { include_blank: true, id: 'message_template_select', class: 'form-control' }) %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8">
        <%= form.label :notification_message, "Message" %>
        <%= form.text_area :notification_message, id: :scheduled_action_notification_message, class: 'form-control', rows: 20 %>
      </div>
    </div>
  </fieldset>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
      <%= link_to 'Cancel', :back, class: "btn btn-xs btn-info"   %>
  </div>
  <% if policy(@scheduled_action).destroy? && !@scheduled_action.new_record? %>
    <p class="text-right">
      <%= link_to('Delete', scheduled_action_path(@scheduled_action), class: "btn btn-danger btn-small", method: :delete, data: {confirm: 'Are you sure you want to delete this Task?'} )%>
    </p>
  <% end %>
<% end %>
