
      <table class="table">
        <thead>
          <tr>
            <th>Author</th>
            <th>Subject</th>
            <th>Action</th>
            <th>Reason</th>
            <th>Content</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% scheduled_actions.each do |scheduled_action| %>
            <tr>
              <td class="text-nowrap"><%= scheduled_action.user.try(:name) || 'None' %></td>
              <td class="text-nowrap">
                <%= render partial: "scheduled_actions/target_name", locals: {scheduled_action: scheduled_action} %>
              </td>
              <td class="text-nowrap">
                <%= scheduled_action.lead_action.name %>
              </td>
              <td>
                <%= scheduled_action.reason.name %><br/>
                <small><%= scheduled_action.schedule %></small>
              </td>
              <td width="33%">
                <p>
                  <%= scheduled_action.description %>
                </p>
                <small>Posted <%= long_datetime(scheduled_action.created_at) %></small>
                <% if scheduled_action.created_at != scheduled_action.updated_at %>
                  <br/>
                  <small>Updated <%= long_datetime(scheduled_action.updated_at) %></small>
                <% end %>
              </td>
              <td class="text-nowrap">
                <% if policy(scheduled_action).edit? && scheduled_action.pending? %>
                    <%= link_to( completion_form_scheduled_action_path(scheduled_action, event: 'complete'), title: 'Complete Task' ) do %><%= glyph(:ok) %><% end %>&nbsp;
                  <%= link_to( completion_form_scheduled_action_path(scheduled_action, event: 'complete_retry'), title: 'Complete and Re-Attempt Task Later' ) do %><%= glyph(:refresh) %><% end %>&nbsp;
                  <%= link_to( completion_form_scheduled_action_path(scheduled_action, event: 'reject'), title: 'Reject Task' ) do %><%= glyph(:remove) %><% end %>&nbsp;
                  <%= link_to( completion_form_scheduled_action_path(scheduled_action, event: 'note'), title: 'Write Note' ) do %><%= glyph(:file) %><% end %>&nbsp;
                <% else %>
                  <%= link_to(scheduled_action_status(scheduled_action), completion_form_scheduled_action_path(scheduled_action)) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
