<% if scheduled_actions.empty? %>
  <p class="lead">None</p>
<% else %>
  <div class="table-responsive">
    <table class="table" data-clickable-rows="true">
    <thead>
      <tr>
        <th>Subject / Owner</th>
        <th>
          Action/Reason
          & Description
        </th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% scheduled_actions.each do |scheduled_action| %>
        <% next unless policy(scheduled_action).completion_form? %>
        <tr class="clickable" data-href="<%= policy(scheduled_action).show? ? completion_form_scheduled_action_path(scheduled_action) : '' %>">
          <td class="text-nowrap">
            <%= render partial: "scheduled_actions/target_name", locals: {scheduled_action: scheduled_action} %><br/>
            <small> (<%= scheduled_action.user.try(:name) || 'None' %>) </small>
          </td>
          <td class="text-nowrap">
            <p>
              <%= scheduled_action.description %><br/>
              <small>
                <%= scheduled_action.reason&.name %>:
                <%= scheduled_action.lead_action&.name %>
              </small>
            </p>
            <p>
              <small>Due: <%= short_datetime(scheduled_action.schedule.to_datetime) if scheduled_action.schedule.present? %></small><br/>
              <small>Posted: <%= long_datetime(scheduled_action.created_at) %></small>
              <% if scheduled_action.created_at != scheduled_action.updated_at %>
                <br/>
                <small>Updated: <%= long_datetime(scheduled_action.updated_at) %></small>
              <% end %>
            </p>
          </td>
          <td class="actions text-nowrap">
            <% if policy(scheduled_action).edit? %>
              <%= link_to(edit_scheduled_action_path(scheduled_action), class: "btn btn--icon btn--xs btn--primary", title: "Edit") do %>
                <%= glyph(:pencil) %>
              <% end %>
            <% end %>
            <% if scheduled_action.pending? %>
              <%= link_to( completion_form_scheduled_action_path(scheduled_action, event: 'complete'), class: "btn btn--icon btn--xs btn--success", title: 'Complete Task' ) do %><%= glyph(:ok) %><% end %>
              <%= link_to( completion_form_scheduled_action_path(scheduled_action, event: 'complete_retry'), class: "btn btn--icon btn--xs btn--info", title: 'Complete and Re-Attempt Task Later' ) do %><%= glyph(:refresh) %><% end %>
              <%= link_to( completion_form_scheduled_action_path(scheduled_action, event: 'reject'), class: "btn btn--icon btn--xs btn--danger", title: 'Reject Task' ) do %><%= glyph(:remove) %><% end %>
              <%= link_to( completion_form_scheduled_action_path(scheduled_action, event: 'note'), class: "btn btn--icon btn--xs btn--ghost", title: 'Write Note' ) do %><%= glyph(:file) %><% end %>
            <% else %>
              <%= link_to(scheduled_action_status(scheduled_action), completion_form_scheduled_action_path(scheduled_action), class: "btn btn--icon btn--xs btn--ghost") %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
<% end %>
