<div class="row">
  <div class="col-md-12">
    <p class="lead">
      <%= scheduled_action.description %>
    </p>

    <p>
      <strong>Due:</strong> <%= scheduled_action.schedule.long_datetime %> &mdash;
      <strong>Reason:</strong> <%= scheduled_action.reason.present? ? scheduled_action.reason.description || scheduled_action.reason.name : 'None' %> <br/>
      <strong>Status:</strong> <%= scheduled_action.state.humanize.titlecase %> &mdash;
      <strong>Attempt #:</strong> <%= scheduled_action.attempt %> &mdash;
      <strong>Last Attempt: </strong>
      <% if scheduled_action.originator.present? %>
        <% if scheduled_action.originator.completed_at.present? %>
        <%= link_to(short_datetime(scheduled_action.originator.completed_at),
                   completion_form_scheduled_action_path(scheduled_action.originator)) %>
        <% else %>
          Incomplete
        <% end %>
      <% else %>
        None
      <% end %><br/>
      <% if scheduled_action.engagement_policy_action_compliance.present? %>
        <strong>Compliance:</strong> <%= scheduled_action.engagement_policy_action_compliance.state.humanize.titlecase %>
        <% if scheduled_action.is_completed? %>
          on <%= short_datetime(scheduled_action.completed_at) %>
          &mdash;
         <%= scheduled_action.engagement_policy_action_compliance.memo %>
         &mdash;
         <%= scheduled_action.engagement_policy_action_compliance.score %> pts. earned
          <br/>
        <% end %>
        <br/>
      <% end %>
      <strong>Owner:</strong> <%= scheduled_action.user.try(:name) || 'None' %> <br/>
      <strong>Subject:</strong> <%= link_to(scheduled_action.target_subject, url_for(scheduled_action.target)) %>
      <% if scheduled_action.target.is_a?(Lead) %>
        <%= render partial: "leads/contact_mini_card", locals: {lead: scheduled_action.target} %>
      <% end %>
    </p>

  </div>
</div>
