<div class="row">
  <div class="col-md-12">
    <p class="lead">
      <%= scheduled_action.description %>
    </p>

    <p>
      <strong>Due:</strong> <%= scheduled_action.schedule.long_datetime %> &mdash;
      <strong>Reason:</strong> <%= scheduled_action.reason.description || scheduled_action.reason.name %> <br/>
      <strong>Status:</strong> <%= scheduled_action.state.humanize.capitalize %> &mdash;
      <strong>Attempt #:</strong> <%= scheduled_action.attempt %> &mdash;
      <strong>Last Attempt: </strong>
      <% if scheduled_action.originator.present? %>
        <% if scheduled_action.originator.completed_at.present? %>
        <%= link_to(short_datetime(scheduled_action.originator.completed_at),
                   completion_form_scheduled_action_path(scheduled_action.originator)) %>
        <% else %>
          Incomplete
        <% end %>
      <% else %>
        None
      <% end %><br/>
      <% if scheduled_action.engagement_policy_action_compliance.present? %>
        <strong>Compliance:</strong> <%= scheduled_action.engagement_policy_action_compliance.state.capitalize %>
        <% if scheduled_action.is_completed? %>
          <%= short_datetime(scheduled_action.completed_at) %>
          &mdash;
         <%= scheduled_action.engagement_policy_action_compliance.memo %>
         &mdash;
         <%= scheduled_action.engagement_policy_action_compliance.score %> pts. earned
          <br/>
        <% end %>
        <br/>
      <% end %>
      <strong>Owner:</strong> <%= scheduled_action.user.try(:name) || 'None' %> <br/>
      <strong>Subject:</strong> <%= link_to(scheduled_action.target_subject, url_for(scheduled_action.target)) %>
      <% if scheduled_action.target.is_a?(Lead) %>
        <blockquote style="font-size: 0.8em; margin-left: 2em;">
          <%= glyph(:email) %> <%= scheduled_action.target.email %><br/>
          <%= glyph(:phone) %> <%= scheduled_action.target.phone1 %>
          <% if scheduled_action.target.phone2.present? %>
            <br/>
            <%= glyph(:phone) %> <%= scheduled_action.target.phone2 %> <br/>
          <% end %>
        </blockquote>
      <% end %>
    </p>

  </div>
</div>
