<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <%= link_to("My Calender", scheduled_actions_path, class: "btn btn-xs btn-#{@show_all ? 'primary' : 'default'}") %>
        <%= link_to("Team Calender", scheduled_actions_path(all: true), class: "btn btn-xs btn-#{@show_all ? 'default' : 'primary'}") %>
      </div>
      <h1>
        <%= @show_all ? 'Team' : 'My' %>
        Task Calendar
      </h1>
    </div>
    <% if policy(ScheduledAction).new? %>
      <div class="col-md-6 text-right">
        <%= link_to "Schedule New Task", new_scheduled_action_path, class: "btn btn-sm btn-primary"%>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3>Due or Upcoming</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render partial: "scheduled_actions", locals: { scheduled_actions: @scheduled_actions.upcoming_or_incomplete.limit(10) } %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=col-md-12"">
      <%= month_calendar events: @scheduled_actions.valid.sorted_by_due_asc do |date, scheduled_actions| %>
        <%= date.day %><br/>
        <% scheduled_actions.each do |scheduled_action| %>
          <div class="<%= scheduled_action_calendar_entry_class(scheduled_action) %>">
            <%= link_to completion_form_scheduled_action_path(scheduled_action), title: scheduled_action.description do %>
              <%= scheduled_action_completion_state_icon(scheduled_action) %>
              <span>
                <%= short_time scheduled_action.schedule.to_datetime %>
              </span>
              <% if scheduled_action.user_id != current_user.id %>
                <span>
                  for <%= scheduled_action.user.name %>:
                </span><br/>
              <% end %>
              <span>
                <%= scheduled_action.lead_action&.name %><br/>
              </span>
              <span class="scheduled_action_calendar_scheduled_action_subject">
                <%= scheduled_action.target_subject(current_user) %>
              </span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3>Previous</h3>
        </div>
        <% unless @limit_set %>
          <div class="col-md-6 text-right" style="position: relative; top: 2em;">
            <%= link_to(scheduled_actions_path(limit: 999, start_date: @start_date)) do %>
              <span class="btn btn-xs btn-info">View All</span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render partial: "scheduled_actions", locals: { scheduled_actions: @scheduled_actions.previous_month.sorted_by_due_desc.limit(@limit) } %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% if policy(ScheduledAction).new? %>
      <div class="col-md-12 text-right">
        <%= link_to "Schedule New Task", new_scheduled_action_path, class: "btn btn-sm btn-primary"%>
      </div>
    <% end %>
  </div>

</div>
