<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @show_all ? 'Team' : 'My' %>
      Task Calendar
    </h1>
    <div>
      <%= link_to("My Calender", scheduled_actions_path, class: "btn btn-xs btn-#{@show_all ? 'primary' : 'default'}") %>
      <%= link_to("Team Calender", scheduled_actions_path(all: true), class: "btn btn-xs btn-#{@show_all ? 'default' : 'primary'}") %>
      <% if policy(ScheduledAction).new? %>
        <small><%= link_to "Schedule New Task", new_scheduled_action_path, class: "btn btn-sm btn-primary"%></small>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h3>Due or Upcoming</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "scheduled_actions", locals: { scheduled_actions: @scheduled_actions.upcoming_or_incomplete.sorted_by_due_desc.limit(50) } %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class=col-md-12"">
    <% events = @scheduled_actions.sorted_by_due_asc %>
    <%= month_calendar events: events.includes(:schedule).where(schedules: {date: @start_date..(@start_date + 1.month)}) do |date, scheduled_actions| %>
      <%= date.day %><br/>
      <% scheduled_actions[0..9].each do |scheduled_action| %>
        <div class="<%= scheduled_action_calendar_entry_class(scheduled_action) %>">
          <%= link_to completion_form_scheduled_action_path(scheduled_action), title: scheduled_action.description do %>
            <%= scheduled_action_completion_state_icon(scheduled_action) %>
            <span>
              <%= short_time scheduled_action.schedule.to_datetime %>
            </span>
            <% if scheduled_action.user_id != current_user.id %>
              <span>
                for <%= scheduled_action.user&.name || '(System)' %>:
              </span><br/>
            <% end %>
            <span>
              <%= scheduled_action.lead_action&.name %><br/>
            </span>
            <span class="scheduled_action_calendar_scheduled_action_subject">
              <%= scheduled_action.target_subject(current_user) %>
            </span>
          <% end %>
        </div>
      <% end %>
      <% if scheduled_actions.count > 10 %>
        <i>(Additional items not displayed)</i>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h3>Previous</h3>
      </div>
      <% unless @limit_set %>
        <div class="col-md-6 text-right" style="position: relative; top: 2em;">
          <%= link_to(scheduled_actions_path(limit: 200, start_date: @start_date)) do %>
            <span class="btn btn-xs btn-info">View All</span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "scheduled_actions", locals: { scheduled_actions: @scheduled_actions.previous_month.sorted_by_due_desc.limit(20) } %>
      </div>
    </div>
  </div>
</div>
