<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @show_all ? 'Team' : 'My' %>
      Task Calendar
    </h1>
    <div>
      <%= link_to("My Calender", scheduled_actions_path, class: "btn btn-xs btn-#{@show_all ? 'primary' : 'default'}") %>
      <%= link_to("Team Calender", scheduled_actions_path(all: true), class: "btn btn-xs btn-#{@show_all ? 'default' : 'primary'}") %>
      <% if policy(ScheduledAction).new? %>
        <small><%= link_to "Schedule New Task", new_scheduled_action_path, class: "btn btn-sm btn-primary"%></small>
      <% end %>
    </div>
  </div>
</div>

<!-- Calendar component -->
<% cache([@current_user, "calendar_table", @start_date, Time.now.to_i.divmod(5 * 60)[0]]) do %>
<div class="row">
  <div class="col-md-12">
    <% events = @scheduled_actions.sorted_by_due_asc %>
    <%= month_calendar events: events do |date, scheduled_actions| %>
      <% # Sorts events by Object.start_time %>
      <div class="scheduled_action_calendar_day">
        <%= date.day %><br/>
        <% grouped_tasks = scheduled_actions.to_a.group_by{|t| t.lead_action&.name || 'Misc'} %>
        <% grouped_tasks.keys.sort.each do |lead_action_name| %>
          <% count = grouped_tasks[lead_action_name].size %>
          <% selector_id = "#{date.month}_#{date.day}_#{lead_action_name.parameterize.underscore}" %>
          <%#= render partial: 'calendar_line_item', collection: grouped_tasks[lead_action_name], as: :scheduled_action %>
          <% if count > 1 %>
            <span class="scheduled_action_calendar_entry">
              <a role="button" aria-expanded="false" aria-controls="<%= selector_id %>" data-toggle="collapse" href="#<%= selector_id %>"> 
                <%= lead_action_name %> (<%= count %>)
              </a>
            </span><br/>
            <div class="well collapse" id="<%= selector_id %>">
              <%= render partial: 'calendar_line_item', collection: grouped_tasks[lead_action_name], as: :scheduled_action %>
            </div>
          <% else %>
            <%= render partial: 'calendar_line_item', collection: grouped_tasks[lead_action_name], as: :scheduled_action %>
          <% end %>
        <% end # each lead_action_name %>
      </div>
    <% end # month_calendar %>
  </div>
</div>
<% end %>

<!-- Due and Upcoming tasks -->
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h3>Due or Upcoming</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "scheduled_actions", locals: { scheduled_actions: @scheduled_actions.upcoming_or_incomplete.sorted_by_due_desc.limit(50) } %>
      </div>
    </div>
  </div>
</div>

<!-- Previous tasks -->
<% cache([@current_user, "calendar_previous_tasks", @start_date, Time.now.to_i.divmod(5 * 60)[0]]) do %>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h3>Previous</h3>
      </div>
      <% unless @limit_set %>
        <div class="col-md-6 text-right" style="position: relative; top: 2em;">
          <%= link_to(scheduled_actions_path(limit: 200, start_date: @start_date)) do %>
            <span class="btn btn-xs btn-info">View All</span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "scheduled_actions", locals: { scheduled_actions: @scheduled_actions.previous_month.sorted_by_due_desc.limit(50) } %>
      </div>
    </div>
  </div>
</div>
<% end %>
