<%= form_with(model: unit, local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id, id: :unit_property_id %>
  </div>

  <div class="field">
    <%= form.label :unit_type_id %>
    <%= form.text_field :unit_type_id, id: :unit_unit_type_id %>
  </div>

  <div class="field">
    <%= form.label :rental_type_id %>
    <%= form.text_field :rental_type_id, id: :unit_rental_type_id %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit, id: :unit_unit %>
  </div>

  <div class="field">
    <%= form.label :floor %>
    <%= form.number_field :floor, id: :unit_floor %>
  </div>

  <div class="field">
    <%= form.label :sqft %>
    <%= form.number_field :sqft, id: :unit_sqft %>
  </div>

  <div class="field">
    <%= form.label :bedrooms %>
    <%= form.number_field :bedrooms, id: :unit_bedrooms %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :unit_address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :unit_address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :unit_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :unit_state %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :unit_zipcode %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :unit_country %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
