<div class="row">
  <div class="col-md-10">
    <h1>
      Units at <%= @property&.name || 'Unknown' %>
    </h1>
  </div>
</div>

<div class="row">
  <div class"col-md-12">
  <% unless @units.present? %>
    <p class="lead">
      No Units found
    </p>
  <% end %>
    <small>
      <%= link_to('Show All', units_path(all: true), class: "btn btn-xs btn-primary") unless @show_all  %>
    </small>
    <table class="table">
      <thead>
        <tr>
          <th>Unit</th>
          <th>Unit Type / Floorplan</th>
          <th>Occupancy</th>
          <th>Availability</th>
          <th>Size</th>
          <th>Beds</th>
          <th>Market Rent</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @units.each do |unit| %>
          <tr class="<%= unit_occupancy_class(unit) %>">
            <td><%= unit.unit %> <b><%= "MODEL" if unit.model? %></b></td>
            <td><%= unit.unit_type_name %></td>
            <td>
              <%= unit_occupancy_icon(unit) %>
              <%= unit.occupancy.try(:humanize) %>:<%= unit.lease_status.try(:humanize) %>
            </td>
            <td><%= unit.available_on %></td>
            <td><%= unit.sqft %> ft<sup>2</sup></td>
            <td><%= unit.bedrooms %></td>
            <td><%= unit.market_rent.present? ? number_to_currency(unit.market_rent) : '' %></td>
            <td>
              <%= link_to unit do %><%= glyph(:show) %><% end if policy(unit).show? %>&nbsp;
              <%= link_to edit_unit_path(unit) do %><%= glyph(:edit) %><% end if policy(unit).edit? %>&nbsp;
              <%= link_to unit, method: :delete, data: { confirm: 'Are you sure?' } do %><%= glyph(:delete) %><% end if policy(unit).destroy? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
