<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Ad Spend Report
      </h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <%= form_for(@report, url: report_marketing_sources_path, method: :get) do |form| %>
        <div class="row">
          <div class="col-md-12 form-group">
            <%= form.label :start_date, 'Start Date' %>
            <%= form.date_field :start_date, class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <%= form.label :end_date, 'End Date' %>
            <%= form.date_field :end_date, class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <%= form.label :property_ids, 'Properties' %>
            <%= form.select :property_ids, Property.active.order(name: :asc).map{|p| [p.name, p.id]},  { }, {multiple: true, size: 20, class: 'form-control' } %>
          </div>
        </div>
        <%= form.submit 'Report', class: 'btn btn-primary' %>
        <%= link_to('Reset', report_marketing_sources_path, class: 'btn btn-info' ) %>
      <% end %>
    </div>

    <div class="col-md-9">
      <table class="table striped-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Leads</th>
            <th>Prospects</th>
            <th>Showings</th>
            <th>Leases</th>
            <th>Total Cost</th>
            <th>Cost / Lead</th>
            <th>Cost / Prospect</th>
            <th>Cost / Lease</th>
          </tr>
        </thead>
        <tbody>
          <% @report.call.each do |row| %>
            <tr>
              <td><%= row['source'] %></td>
              <td><%= row['lead_count'] %></td>
              <td><%= row['prospect_count'] %></td>
              <td><%= row['showing_count'] %></td>
              <td><%= row['lease_count'] %></td>
              <td><%= number_to_currency row['total_cost'] %></td>
              <td><%= number_to_currency row['cost_per_lead'] %></td>
              <td><%= number_to_currency row['cost_per_prospect'] %></td>
              <td><%= number_to_currency row['cost_per_lease'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr/>
      <%= link_to('Download Report', report_marketing_sources_path(format: 'csv', start_date: @report.start_date, end_date: @report.end_date, property_ids: @report.property_ids), class: 'btn btn-primary') %>
    </div>
  </div>
</div>

