<p id="notice"><%= notice %></p>

<h1>Resident Details</h1>

<table>
  <thead>
    <tr>
      <th>Resident</th>
      <th>Phone1</th>
      <th>Phone1 type</th>
      <th>Phone1 tod</th>
      <th>Phone2</th>
      <th>Phone2 type</th>
      <th>Phone2 tod</th>
      <th>Email</th>
      <th>Ssn</th>
      <th>Id number</th>
      <th>Id state</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resident_details.each do |resident_detail| %>
      <tr>
        <td><%= resident_detail.resident_id %></td>
        <td><%= resident_detail.phone1 %></td>
        <td><%= resident_detail.phone1_type %></td>
        <td><%= resident_detail.phone1_tod %></td>
        <td><%= resident_detail.phone2 %></td>
        <td><%= resident_detail.phone2_type %></td>
        <td><%= resident_detail.phone2_tod %></td>
        <td><%= resident_detail.email %></td>
        <td><%= resident_detail.ssn %></td>
        <td><%= resident_detail.id_number %></td>
        <td><%= resident_detail.id_state %></td>
        <td><%= link_to 'Show', resident_detail %></td>
        <td><%= link_to 'Edit', edit_resident_detail_path(resident_detail) %></td>
        <td><%= link_to 'Destroy', resident_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resident Detail', new_resident_detail_path %>
