<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Disable IE compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <%= render partial: "shared/html_head" %>
    <title><%= @page_title || 'BlueSky' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body<%- if @webpack %> data-no-turbolink data-no-transition-cache<% end %>>
    <%#= render partial: 'shared/trackjs' unless Rails.env.test? %>
    <%= render partial: 'shared/navbar' %>
    <%= render partial: 'shared/notifications' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>

    <% if defined?(@webpack) %>
      <% Array(@webpack).each do |pack| %>
        <%= javascript_pack_tag pack %>
        <%= stylesheet_pack_tag pack %>
      <% end %>
    <% end %>

    <%= render partial: 'shared/browser_check' %>
  </body>
</html>
