<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Druid Lead Management for BlueStone Properties">
    <title><%= @page_title || 'Druid' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    </head>

    <body>
      <%= render partial: 'shared/navbar' %>
      <%= render partial: 'properties/header' %>
      <%= render partial: 'shared/notifications' %>
      <%= yield %>
      <%= render partial: 'shared/footer' %>

      <% if defined?(@webpack) %>
        <%= javascript_pack_tag @webpack %>
        <%= stylesheet_pack_tag @webpack %>
      <% end %>
    </body>
  </html>
